flows.json
[{"id":"885f38dd.64a8b","type":"tab","label":"Bewegungsmelder","disabled":false,"info":""},{"id":"2e1e972e.ae23c","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"6edcc166.d0745","type":"tab","label":"Traffic","disabled":false,"info":""},{"id":"8eae0a4c.0fa16","type":"tab","label":"Wetter","disabled":false,"info":""},{"id":"8544e604.9bf28","type":"subflow","name":"Errorhandler","info":"","category":"","in":[{"x":60,"y":40,"wires":[{"id":"66316629.0a05b"},{"id":"590d362e.ea16a8"},{"id":"f2ef2fbe.6b32e8"}]}],"out":[],"env":[{"name":"SentToSlack","type":"bool","value":"false","ui":{"icon":"font-awesome/fa-bell-slash-o","label":{},"type":"input","opts":{"types":["str","num","bool","json","bin","env"]}}},{"name":"LogToDebug","type":"bool","value":"true"},{"name":"LogToConsole","type":"bool","value":"true"}],"color":"#DDAA99"},{"id":"f8eade98.d4c83","type":"ui_base","theme":{"name":"theme-dark","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","reset":false},"themeState":{"base-color":{"default":"#097479","value":"#097479","edited":false},"page-titlebar-backgroundColor":{"value":"#097479","edited":false},"page-backgroundColor":{"value":"#111111","edited":false},"page-sidebar-backgroundColor":{"value":"#000000","edited":false},"group-textColor":{"value":"#0eb8c0","edited":false},"group-borderColor":{"value":"#555555","edited":false},"group-backgroundColor":{"value":"#333333","edited":false},"widget-textColor":{"value":"#eeeeee","edited":false},"widget-backgroundColor":{"value":"#097479","edited":false},"widget-borderColor":{"value":"#333333","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Dashboard","hideToolbar":"false","allowSwipe":"true","lockMenu":"true","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"1eaefd75.304423","type":"ui_tab","z":"","name":"Home","icon":"device_hub","order":2,"disabled":false,"hidden":false},{"id":"ff4bc735.559d78","type":"ui_tab","z":"","name":"Status","icon":"dashboard","order":1,"disabled":false,"hidden":false},{"id":"a1521b71.7d2d2","type":"ui_group","z":"","name":"Bewegungsmelder Küche","tab":"ff4bc735.559d78","order":1,"disp":true,"width":"6","collapse":false},{"id":"ad710dfa.62646","type":"ui_group","z":"","name":"Bewegungsmelder","tab":"1eaefd75.304423","order":2,"disp":true,"width":"6","collapse":false},{"id":"3de2bfe.885bdc","type":"mqtt-broker","z":"","name":"Mosquito","broker":"192.168.178.41","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":"","closeTopic":"","closeQos":"0","closeRetain":"false","closePayload":"","willTopic":"","willQos":"0","willRetain":"false","willPayload":""},{"id":"6e5cbd28.1b9ad4","type":"mqtt-broker","z":"","name":"Mosquitto","broker":"192.168.178.41","port":"1883","clientid":"nr-sh-tesla","usetls":false,"compatmode":true,"keepalive":"60","cleansession":false,"birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":"","closeTopic":"","closeQos":"0","closeRetain":"false","closePayload":"","willTopic":"","willQos":"0","willRetain":"false","willPayload":""},{"id":"50080bd6.4ef11c","type":"hue-bridge","z":"","name":"Unterhaching","bridge":"192.168.178.20","key":"LH-QtOj-eU2eEuoNfOP642Wmy9rkvkfSL2Of13Tr","interval":"3000","disableupdates":false},{"id":"f5796bd2.5a541","type":"ui_group","z":"2e1e972e.ae23c","name":"Second","tab":"db475cdc.1e872","order":2,"disp":true,"width":"5"},{"id":"b9d322fb.81d35","type":"ui_group","z":"2e1e972e.ae23c","name":"Click","tab":"db475cdc.1e872","order":1,"disp":true,"width":"5"},{"id":"db475cdc.1e872","type":"ui_tab","z":"2e1e972e.ae23c","name":"Home","icon":"link","order":1},{"id":"3bfe0f7a.c8f3c","type":"ui_group","z":"","name":"Bewegungsmelder Bad","tab":"ff4bc735.559d78","order":1,"disp":true,"width":"6","collapse":false},{"id":"dbc4cafb.b40088","type":"ui_group","z":"","name":"Bewegungsmelder Wohnzimmer","tab":"ff4bc735.559d78","order":2,"disp":true,"width":"6","collapse":false},{"id":"45f8b729.0418e","type":"ui_group","z":"","name":"Wetter","tab":"41c382a3.e04d34","order":1,"disp":false,"width":"16","collapse":false},{"id":"8f7374bc.68e6c","type":"ui_tab","z":"","name":"Laakirchen","icon":"traffic","disabled":false,"hidden":false},{"id":"89324342.c8f23","type":"ui_group","z":"","name":"Laakirchen -> Unterhaching","tab":"8f7374bc.68e6c","order":2,"disp":true,"width":"16","collapse":false},{"id":"29fea05c.89c74","type":"ui_group","z":"","name":"Unterhaching -> Laakirchen","tab":"8f7374bc.68e6c","order":1,"disp":true,"width":"16","collapse":false},{"id":"da2d6788.88441","type":"ui_tab","z":"","name":"Work","icon":"office","order":5,"disabled":false,"hidden":false},{"id":"d684314d.248e78","type":"ui_group","z":"","name":"Unterhaching -> IBM","tab":"da2d6788.88441","order":1,"disp":true,"width":"12","collapse":true},{"id":"c8bb26c6.8b4ba8","type":"ui_group","z":"","name":"IBM -> Unterhaching","tab":"da2d6788.88441","order":2,"disp":true,"width":"12","collapse":true},{"id":"41c382a3.e04d34","type":"ui_tab","z":"","name":"Wetter","icon":"weather","disabled":false,"hidden":false},{"id":"9fd07e41.fc43","type":"ui_spacer","name":"spacer","group":"3bfe0f7a.c8f3c","order":3,"width":1,"height":1},{"id":"8a1bbdd2.f8f9","type":"ui_spacer","name":"spacer","group":"dbc4cafb.b40088","order":3,"width":1,"height":1},{"id":"b0212a87.b8e9f","type":"ui_led","z":"885f38dd.64a8b","group":"dbc4cafb.b40088","order":1,"width":4,"height":1,"label":"<p style='color:blue'>Wohnzimmer</p>","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"red","value":"false","valueType":"bool"},{"color":"green","value":"true","valueType":"bool"}],"allowColorForValueInMessage":false,"name":"Wohnzimmer Status","x":900,"y":520,"wires":[]},{"id":"77bfc098.ffe258","type":"mqtt in","z":"885f38dd.64a8b","name":"","topic":"/dashboard/in/motion/kueche/status","qos":"2","datatype":"json","broker":"3de2bfe.885bdc","x":260,"y":100,"wires":[[]]},{"id":"622f8cc9.8761d4","type":"mqtt in","z":"885f38dd.64a8b","name":"","topic":"/dashboard/in/motion/bad/status","qos":"2","datatype":"json","broker":"3de2bfe.885bdc","x":270,"y":160,"wires":[[]]},{"id":"7b9fb2f4.3cd3cc","type":"mqtt in","z":"885f38dd.64a8b","name":"","topic":"/dashboard/in/motion/wohnzimmer/status","qos":"2","datatype":"json","broker":"3de2bfe.885bdc","x":240,"y":40,"wires":[[]]},{"id":"4cd64731.71cb68","type":"debug","z":"8544e604.9bf28","name":"Log Debug","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":670,"y":40,"wires":[]},{"id":"1a497a6c.f2aabe","type":"mqtt out","z":"8544e604.9bf28","name":"","topic":"/slack/smarthome/out","qos":"","retain":"","broker":"6e5cbd28.1b9ad4","x":700,"y":160,"wires":[]},{"id":"66316629.0a05b","type":"switch","z":"8544e604.9bf28","name":"Slack","property":"SentToSlack","propertyType":"env","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":250,"y":160,"wires":[["82d4a63f.43af08"]]},{"id":"2602623.67c029e","type":"catch","z":"8544e604.9bf28","name":"","scope":null,"uncaught":false,"x":80,"y":460,"wires":[["919938d0.81b93"]]},{"id":"919938d0.81b93","type":"debug","z":"8544e604.9bf28","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":450,"y":460,"wires":[]},{"id":"82d4a63f.43af08","type":"function","z":"8544e604.9bf28","name":"Error Message","func":"var sFlowname = msg.flowinfo.flowname;\nvar sMessage = msg.error.message;\nvar sNode = msg.error.source.name;\n\nmsg.payload = {\n    \"text\": \"Failure in flow *\" + sFlowname + \"* in node *\" + sNode + \"*. \\n`\" + sMessage + \"`\"\n}\nreturn msg;","outputs":1,"noerr":0,"x":440,"y":160,"wires":[["1a497a6c.f2aabe"]]},{"id":"590d362e.ea16a8","type":"switch","z":"8544e604.9bf28","name":"Debug","property":"LogToDebug","propertyType":"env","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":250,"y":40,"wires":[["4cd64731.71cb68"]]},{"id":"f2ef2fbe.6b32e8","type":"switch","z":"8544e604.9bf28","name":"Console","property":"LogToConsole","propertyType":"env","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":260,"y":100,"wires":[["34d6d726.3c681"]]},{"id":"34d6d726.3c681","type":"debug","z":"8544e604.9bf28","name":"Log Console","active":true,"tosidebar":false,"console":true,"tostatus":false,"complete":"true","targetType":"full","x":680,"y":100,"wires":[]},{"id":"6d7439b1.7b03b8","type":"subflow:8544e604.9bf28","z":"885f38dd.64a8b","name":"","env":[{"name":"SentToSlack","value":"true","type":"bool"}],"x":530,"y":1060,"wires":[],"icon":"font-awesome/fa-exclamation"},{"id":"a22d20af.84c74","type":"catch","z":"885f38dd.64a8b","name":"","scope":null,"uncaught":false,"x":180,"y":1060,"wires":[["1c5abf30.a814c1"]]},{"id":"1c5abf30.a814c1","type":"getflowid","z":"885f38dd.64a8b","name":"Get Flow ID","x":350,"y":1060,"wires":[["6d7439b1.7b03b8"]]},{"id":"76e77520.9a57ec","type":"hue-motion","z":"885f38dd.64a8b","name":"Bad sensor","bridge":"50080bd6.4ef11c","sensorid":"15","skipevents":false,"x":310,"y":400,"wires":[["7e435f18.4de88","fa5e1e7a.cc8568","9a43c33c.f52618"]]},{"id":"8f9c0142.711d","type":"hue-motion","z":"885f38dd.64a8b","name":"Wohnzimmer Sensor","bridge":"50080bd6.4ef11c","sensorid":"38","skipevents":false,"x":280,"y":560,"wires":[["ecb4607d.bb899","93da8f67.3efc58","edd4b602.afad58"]]},{"id":"4515d799.b4a6a","type":"hue-motion","z":"885f38dd.64a8b","name":"Küchen Sensor","bridge":"50080bd6.4ef11c","sensorid":"66","skipevents":false,"x":300,"y":240,"wires":[["c4d8212f.0b779","3715ae36.9cacf2","deed8d71.5c6fa8"]]},{"id":"e3e74265.f1e928","type":"inject","z":"885f38dd.64a8b","name":"","topic":"","payload":"status","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":90,"y":400,"wires":[["76e77520.9a57ec","8f9c0142.711d","4515d799.b4a6a"]]},{"id":"ecb4607d.bb899","type":"function","z":"885f38dd.64a8b","name":"Wohnzimmer Status","func":"if (msg.payload.active === false) {\n    msg.payload = false;\n}\nelse {\n    msg.payload = true;\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":580,"y":520,"wires":[["b0212a87.b8e9f"]]},{"id":"2a05c659.ad94c2","type":"ui_text","z":"885f38dd.64a8b","group":"dbc4cafb.b40088","order":4,"width":6,"height":1,"name":"Wohnzimmer Last Motion","label":"<font size=-2>Last Motion:</font>","format":"<font size=-2>{{msg.payload | date:'HH:mm:ss'}}</font>","layout":"row-left","x":910,"y":600,"wires":[]},{"id":"5634d062.d96fd8","type":"ui_led","z":"885f38dd.64a8b","group":"dbc4cafb.b40088","order":2,"width":1,"height":1,"label":"","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"grey","value":"false","valueType":"bool"},{"color":"yellow","value":"true","valueType":"bool"}],"allowColorForValueInMessage":false,"name":"Wohnzimmer Motion","x":900,"y":560,"wires":[]},{"id":"93da8f67.3efc58","type":"change","z":"885f38dd.64a8b","name":"","rules":[{"t":"move","p":"payload.updated","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":600,"y":600,"wires":[["2a05c659.ad94c2"]]},{"id":"edd4b602.afad58","type":"change","z":"885f38dd.64a8b","name":"","rules":[{"t":"move","p":"payload.motion","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":600,"y":560,"wires":[["5634d062.d96fd8"]]},{"id":"9e0b2608.b75b4","type":"inject","z":"2e1e972e.ae23c","name":"warn","topic":"press","payload":"<i class=\"fa fa-warning fa-2x nr-dashboard-warning\"></i>","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":"","x":290,"y":200,"wires":[["9af2278a.3e7a28"]]},{"id":"8fbc2389.536b28","type":"inject","z":"2e1e972e.ae23c","name":"error","topic":"press","payload":"<i class=\"fa fa-exclamation-circle fa-2x nr-dashboard-error\"></i>","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":"","x":290,"y":240,"wires":[["9af2278a.3e7a28"]]},{"id":"edf600e3.712c7","type":"inject","z":"2e1e972e.ae23c","name":"ok","topic":"press","payload":"<i class=\"fa fa-lightbulb-o fa-2x nr-dashboard-ok\"></i>","payloadType":"str","repeat":"","crontab":"","once":true,"onceDelay":"","x":290,"y":160,"wires":[["9af2278a.3e7a28"]]},{"id":"9af2278a.3e7a28","type":"ui_text","z":"2e1e972e.ae23c","group":"f5796bd2.5a541","order":4,"width":"1","height":"1","name":"indicator","label":"","format":"{{msg.payload}}","layout":"row-center","x":440,"y":200,"wires":[]},{"id":"33eb4864.fa5968","type":"ui_switch","z":"2e1e972e.ae23c","name":"","label":"switch","group":"b9d322fb.81d35","order":5,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":290,"y":320,"wires":[["8ede6668.8d2c6"]]},{"id":"5e8f07a7.22607","type":"ui_switch","z":"2e1e972e.ae23c","name":"","label":"switch","group":"b9d322fb.81d35","order":4,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":290,"y":356,"wires":[["31a17f59.f5c538"]]},{"id":"8ede6668.8d2c6","type":"ui_text","z":"2e1e972e.ae23c","group":"b9d322fb.81d35","order":3,"width":"1","height":"1","name":"on/off","label":"<font size=6><i class=\"fa fa-lightbulb-o fa-2x\"></i></font><br/><font size=\"-2\">World</font>","format":"<font color={{(msg.payload?\"yellow\":\"grey\")}}><i class=\"fa fa-lightbulb-o fa-2x\"></i></font><br/><font size=\"-2\">World</font>","layout":"row-center","x":460,"y":320,"wires":[]},{"id":"31a17f59.f5c538","type":"ui_text","z":"2e1e972e.ae23c","group":"b9d322fb.81d35","order":2,"width":"1","height":"1","name":"on/off","label":"","format":"<font color={{(msg.payload?\"red\":\"grey\")}}><i class=\"fa fa-lightbulb-o fa-2x\"></i></font><br/><font size=\"-2\">Hello</font>","layout":"row-center","x":460,"y":356,"wires":[]},{"id":"fd5d2373.2021a","type":"ui_led","z":"885f38dd.64a8b","group":"3bfe0f7a.c8f3c","order":1,"width":4,"height":1,"label":"<p style='color:blue'>Badzimmer</p>","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"red","value":"false","valueType":"bool"},{"color":"green","value":"true","valueType":"bool"}],"allowColorForValueInMessage":false,"name":"Bad Status","x":870,"y":360,"wires":[]},{"id":"7e435f18.4de88","type":"function","z":"885f38dd.64a8b","name":"Bad Status","func":"if (msg.payload.active === false) {\n    msg.payload = false;\n}\nelse {\n    msg.payload = true;\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":550,"y":360,"wires":[["fd5d2373.2021a"]]},{"id":"2761f12f.281a4e","type":"ui_text","z":"885f38dd.64a8b","group":"3bfe0f7a.c8f3c","order":4,"width":6,"height":1,"name":"Bad Last Motion","label":"<font size=-2>Last Motion:</font>","format":"<font size=-2>{{msg.payload | date:'HH:mm:ss'}}</font>","layout":"row-left","x":880,"y":440,"wires":[]},{"id":"1bb52ef9.c39331","type":"ui_led","z":"885f38dd.64a8b","group":"3bfe0f7a.c8f3c","order":2,"width":1,"height":1,"label":"","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"grey","value":"false","valueType":"bool"},{"color":"yellow","value":"true","valueType":"bool"}],"allowColorForValueInMessage":false,"name":"Bad Motion","x":870,"y":400,"wires":[]},{"id":"9a43c33c.f52618","type":"change","z":"885f38dd.64a8b","name":"","rules":[{"t":"move","p":"payload.updated","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":600,"y":440,"wires":[["2761f12f.281a4e"]]},{"id":"fa5e1e7a.cc8568","type":"change","z":"885f38dd.64a8b","name":"","rules":[{"t":"move","p":"payload.motion","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":600,"y":400,"wires":[["1bb52ef9.c39331"]]},{"id":"4318c47e.e403f4","type":"ui_led","z":"885f38dd.64a8b","group":"a1521b71.7d2d2","order":1,"width":4,"height":1,"label":"<p style='color:blue'>Küche</p>","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"red","value":"false","valueType":"bool"},{"color":"green","value":"true","valueType":"bool"}],"allowColorForValueInMessage":false,"name":"Küchen Status","x":880,"y":200,"wires":[]},{"id":"c4d8212f.0b779","type":"function","z":"885f38dd.64a8b","name":"Küche Status","func":"if (msg.payload.active === false) {\n    msg.payload = false;\n}\nelse {\n    msg.payload = true;\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":560,"y":200,"wires":[["4318c47e.e403f4","5cc000c1.18bc5"]]},{"id":"c131a300.72d97","type":"ui_text","z":"885f38dd.64a8b","group":"a1521b71.7d2d2","order":5,"width":6,"height":1,"name":"Küche Last Motion","label":"<font size=-2>Last Motion:</font>","format":"<font size=-2>{{msg.payload | date:'HH:mm:ss'}}</font>","layout":"row-left","x":890,"y":280,"wires":[]},{"id":"65d68598.4526e4","type":"ui_led","z":"885f38dd.64a8b","group":"a1521b71.7d2d2","order":3,"width":1,"height":1,"label":"","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"grey","value":"false","valueType":"bool"},{"color":"yellow","value":"true","valueType":"bool"}],"allowColorForValueInMessage":false,"name":"Küchen Motion","x":880,"y":240,"wires":[]},{"id":"deed8d71.5c6fa8","type":"change","z":"885f38dd.64a8b","name":"","rules":[{"t":"move","p":"payload.updated","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":600,"y":280,"wires":[["c131a300.72d97"]]},{"id":"3715ae36.9cacf2","type":"change","z":"885f38dd.64a8b","name":"","rules":[{"t":"move","p":"payload.motion","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":600,"y":240,"wires":[["65d68598.4526e4"]]},{"id":"b697390.db82dc8","type":"hue-brightness","z":"885f38dd.64a8b","name":"Lichtsensor Bad","bridge":"50080bd6.4ef11c","sensorid":"16","skipevents":false,"x":160,"y":780,"wires":[["9d5d158a.0d4278","d562d68.031cca8"]]},{"id":"9d5d158a.0d4278","type":"debug","z":"885f38dd.64a8b","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":550,"y":900,"wires":[]},{"id":"1f9b0c3e.e8c944","type":"hue-brightness","z":"885f38dd.64a8b","name":"Lichtsensor Wohnzimmer","bridge":"50080bd6.4ef11c","sensorid":"39","skipevents":false,"x":190,"y":720,"wires":[["9d5d158a.0d4278","db0c9071.d6f478"]]},{"id":"46b249a7.830268","type":"hue-brightness","z":"885f38dd.64a8b","name":"Lichtsensor Küche","bridge":"50080bd6.4ef11c","sensorid":"67","skipevents":false,"x":170,"y":840,"wires":[["9d5d158a.0d4278","b221d196.5f9458"]]},{"id":"3a5569b.452e816","type":"inject","z":"6edcc166.d0745","name":"","topic":"","payload":"<iframe src=\"https://www.google.com/maps/dir/Von-Stauffenberg-Straße+96,+82008+Unterhaching,+Deutschland/Mies-van-der-Rohe-Straße+6,+80807+München,+Deutschland/@48.1184807,11.5446658,12z/data=!3m1!4b1!4m14!4m13!1m5!1m1!1s0x479de0a7bb0e9ab7:0x8491722c6ea7340e!2m2!1d11.62471!2d48.06102!1m5!1m1!1s0x479e744a685c3351:0x4922cdc869b0f9f0!2m2!1d11.59261!2d48.17645!3e0\">","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":170,"y":200,"wires":[[]]},{"id":"830f6b1.2501418","type":"inject","z":"6edcc166.d0745","name":"","topic":"","payload":"<iframe src=\"https://www.google.com/maps/embed?pb=!1m28!1m12!1m3!1d85234.32204803196!2d11.54466581769648!3d48.118480672399414!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m13!3e0!4m5!1s0x479de0a7bb0e9ab7%3A0x8491722c6ea7340e!2sVon-Stauffenberg-Stra%C3%9Fe%2096%2C%2082008%20Unterhaching%2C%20Deutschland!3m2!1d48.06102!2d11.62471!4m5!1s0x479e744a685c3351%3A0x4922cdc869b0f9f0!2sMies-van-der-Rohe-Stra%C3%9Fe%206%2C%2080807%20M%C3%BCnchen%2C%20Deutschland!3m2!1d48.176449999999996!2d11.592609999999999!5e0!3m2!1sen!2sde!4v1591454661033!5m2!1sen!2sde\" width=\"600\" height=\"450\" frameborder=\"0\" style=\"border:0;\" allowfullscreen=\"\" aria-hidden=\"false\" tabindex=\"0\"></iframe>","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":150,"y":300,"wires":[[]]},{"id":"58bb1340.2d47cc","type":"ui_template","z":"6edcc166.d0745","group":"89324342.c8f23","name":"Laakirchen - Unterhaching","order":1,"width":0,"height":0,"format":"<iframe src=\"https://www.google.com/maps/embed?pb=!1m28!1m12!1m3!1d682822.9187130033!2d12.271790167198839!3d48.04698867810587!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m13!3e0!4m5!1s0x4773f941e71373f3%3A0xfc16805b23835709!2sDoktor-Watzke-Stra%C3%9Fe%202%2C%20Laakirchen%2C%20%C3%96sterreich!3m2!1d47.9836398!2d13.819605899999999!4m5!1s0x479de0a7bb0e9ab7%3A0x8491722c6ea7340e!2sVon-Stauffenberg-Stra%C3%9Fe%2096%2C%2082008%20Unterhaching%2C%20Deutschland!3m2!1d48.06102!2d11.62471!5e0!3m2!1sen!2sde!4v1591535814186!5m2!1sen!2sde\" height=\"450\" frameborder=\"0\" style=\"border:0;\" allowfullscreen=\"\" aria-hidden=\"false\" tabindex=\"0\"></iframe>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":false,"templateScope":"local","x":540,"y":460,"wires":[[]]},{"id":"3078cdef.1a8bf2","type":"ui_template","z":"6edcc166.d0745","group":"29fea05c.89c74","name":"Unterhaching - Laakirchen","order":1,"width":0,"height":0,"format":"<iframe src=\"https://www.google.com/maps/embed?pb=!1m28!1m12!1m3!1d682044.4796787468!2d12.269906202263988!3d48.1056781820621!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m13!3e0!4m5!1s0x479de0a7bb0e9ab7%3A0x8491722c6ea7340e!2sVon-Stauffenberg-Stra%C3%9Fe%2096%2C%2082008%20Unterhaching%2C%20Deutschland!3m2!1d48.06102!2d11.62471!4m5!1s0x4773f96a991aed1b%3A0x1caeeb3b127afd43!2sDoktor-Watzke-Stra%C3%9Fe%2C%20Laakirchen%2C%20Austria!3m2!1d47.9845963!2d13.8171082!5e0!3m2!1sen!2sde!4v1591455264690!5m2!1sen!2sde\" height=\"450\" frameborder=\"0\" style=\"border:0;\" allowfullscreen=\"\" aria-hidden=\"false\" tabindex=\"0\"></iframe>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":false,"templateScope":"local","x":540,"y":540,"wires":[[]]},{"id":"3839e418.439204","type":"ui_template","z":"6edcc166.d0745","group":"d684314d.248e78","name":"Unterhaching -> IBM","order":0,"width":0,"height":0,"format":"<iframe src=\"https://www.google.com/maps/embed?pb=!1m28!1m12!1m3!1d85234.32204836287!2d11.544665489419245!3d48.11848067219996!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m13!3e0!4m5!1s0x479de0a7bb0e9ab7%3A0x8491722c6ea7340e!2sVon-Stauffenberg-Stra%C3%9Fe%2096%2C%2082008%20Unterhaching%2C%20Deutschland!3m2!1d48.06102!2d11.62471!4m5!1s0x479e744a685c3351%3A0x4922cdc869b0f9f0!2sMies-van-der-Rohe-Stra%C3%9Fe%206%2C%2080807%20M%C3%BCnchen%2C%20Deutschland!3m2!1d48.176449999999996!2d11.592609999999999!5e0!3m2!1sen!2sde!4v1591536512465!5m2!1sen!2sde\" height=\"750\" frameborder=\"0\" style=\"border:0;\" allowfullscreen=\"\" aria-hidden=\"true\" tabindex=\"0\"></iframe>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":600,"y":300,"wires":[[]]},{"id":"6d46ae36.0a68","type":"ui_template","z":"6edcc166.d0745","group":"c8bb26c6.8b4ba8","name":"IBM -> Unterhaching","order":0,"width":0,"height":0,"format":"<iframe src=\"https://www.google.com/maps/embed?pb=!1m28!1m12!1m3!1d85233.82258854!2d11.541308389429966!3d48.11878172222438!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m13!3e0!4m5!1s0x479e744a685c3351%3A0x4922cdc869b0f9f0!2sMies-van-der-Rohe-Stra%C3%9Fe%206%2C%2080807%20M%C3%BCnchen%2C%20Deutschland!3m2!1d48.176449999999996!2d11.592609999999999!4m5!1s0x479de0a7bb0e9ab7%3A0x8491722c6ea7340e!2sVon-Stauffenberg-Stra%C3%9Fe%2096%2C%2082008%20Unterhaching%2C%20Deutschland!3m2!1d48.06102!2d11.62471!5e0!3m2!1sen!2sde!4v1591536491591!5m2!1sen!2sde\" height=\"750\" frameborder=\"0\" style=\"border:0;\" allowfullscreen=\"\" aria-hidden=\"false\" tabindex=\"0\"></iframe>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":600,"y":340,"wires":[[]]},{"id":"ee89e74.26db518","type":"ui_level","z":"885f38dd.64a8b","group":"a1521b71.7d2d2","order":4,"width":0,"height":0,"name":"Helligkeit Küche","label":"","colorHi":"#f8fbdc","colorWarn":"#fff995","colorNormal":"#ffc777","colorOff":"#595959","min":0,"max":"400","segWarn":"","segHigh":"","unit":"lux","layout":"sh","channelA":"","channelB":"","decimals":0,"animations":"soft","shape":2,"colorschema":"fixed","textoptions":"default","colorText":"#eeeeee","fontLabel":"","fontValue":"","fontSmall":"","colorFromTheme":true,"textAnimations":false,"hideValue":false,"tickmode":"off","peakmode":false,"peaktime":3000,"x":880,"y":840,"wires":[]},{"id":"b221d196.5f9458","type":"change","z":"885f38dd.64a8b","name":"","rules":[{"t":"move","p":"payload.lux","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":580,"y":840,"wires":[["ee89e74.26db518"]]},{"id":"15f5a1cd.0a0c3e","type":"ui_level","z":"885f38dd.64a8b","group":"dbc4cafb.b40088","order":5,"width":0,"height":0,"name":"Helligkeit Wohnzimmer","label":"","colorHi":"#f8fbdc","colorWarn":"#fff86b","colorNormal":"#ffb43e","colorOff":"#595959","min":0,"max":"400","segWarn":"","segHigh":"","unit":"lux","layout":"sh","channelA":"","channelB":"","decimals":0,"animations":"soft","shape":2,"colorschema":"fixed","textoptions":"default","colorText":"#eeeeee","fontLabel":"","fontValue":"","fontSmall":"","colorFromTheme":true,"textAnimations":false,"hideValue":false,"tickmode":"off","peakmode":false,"peaktime":3000,"x":900,"y":720,"wires":[]},{"id":"d562d68.031cca8","type":"change","z":"885f38dd.64a8b","name":"","rules":[{"t":"move","p":"payload.lux","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":580,"y":780,"wires":[["149bfc31.dbe984"]]},{"id":"149bfc31.dbe984","type":"ui_level","z":"885f38dd.64a8b","group":"3bfe0f7a.c8f3c","order":5,"width":0,"height":0,"name":"Helligkeit Bad","label":"","colorHi":"#f8fbdc","colorWarn":"#fff995","colorNormal":"#fec700","colorOff":"#595959","min":0,"max":"400","segWarn":"","segHigh":"","unit":"lux","layout":"sh","channelA":"","channelB":"","decimals":0,"animations":"soft","shape":2,"colorschema":"fixed","textoptions":"default","colorText":"#eeeeee","fontLabel":"","fontValue":"","fontSmall":"","colorFromTheme":true,"textAnimations":false,"hideValue":false,"tickmode":"off","peakmode":false,"peaktime":3000,"x":880,"y":780,"wires":[]},{"id":"db0c9071.d6f478","type":"change","z":"885f38dd.64a8b","name":"","rules":[{"t":"move","p":"payload.lux","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":580,"y":720,"wires":[["15f5a1cd.0a0c3e"]]},{"id":"4fa16573.c7999c","type":"hue-bridge-node","z":"885f38dd.64a8b","name":"","bridge":"50080bd6.4ef11c","autoupdates":true,"skipglobalevents":false,"x":350,"y":1000,"wires":[["9d5d158a.0d4278"]]},{"id":"af46b9cf.119c8","type":"inject","z":"885f38dd.64a8b","name":"","topic":"","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":170,"y":1000,"wires":[["4fa16573.c7999c"]]},{"id":"d8898484.84a07","type":"hue-temperature","z":"885f38dd.64a8b","name":"Hue temperature sensor 4","bridge":"50080bd6.4ef11c","sensorid":"68","skipevents":false,"x":190,"y":1160,"wires":[["16786416.87c81c"]]},{"id":"16786416.87c81c","type":"debug","z":"885f38dd.64a8b","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":460,"y":1160,"wires":[]},{"id":"b86cd19d.824d4","type":"ui_template","z":"8eae0a4c.0fa16","group":"45f8b729.0418e","name":"Wetter","order":1,"width":"0","height":"0","format":"<div id=\"cont_1510638d58b49862159cd0e7cb1c1295\"><script type=\"text/javascript\" async src=\"https://www.daswetter.com/wid_loader/1510638d58b49862159cd0e7cb1c1295\"></script></div>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":410,"y":220,"wires":[[]]},{"id":"5cc000c1.18bc5","type":"ui_switch","z":"885f38dd.64a8b","name":"Küchen Schalter","label":"","tooltip":"","group":"a1521b71.7d2d2","order":2,"width":1,"height":1,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":880,"y":140,"wires":[["28ff68cc.16aee","2b9d0110.cdaede"]]},{"id":"28ff68cc.16aee","type":"debug","z":"885f38dd.64a8b","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1090,"y":80,"wires":[]},{"id":"2b9d0110.cdaede","type":"hue-motion","z":"885f38dd.64a8b","name":"Küchen Sensor","bridge":"50080bd6.4ef11c","sensorid":"66","skipevents":false,"x":1100,"y":140,"wires":[[]]}]