flows.json
[{"id":"885f38dd.64a8b","type":"tab","label":"Bewegungsmelder","disabled":false,"info":""},{"id":"57fd27e5.8820b","type":"tab","label":"Helligkeits Sensor","disabled":false,"info":""},{"id":"ea3852ff.87d0d","type":"tab","label":"Temperatur","disabled":false,"info":""},{"id":"6edcc166.d0745","type":"tab","label":"Traffic","disabled":false,"info":""},{"id":"8eae0a4c.0fa16","type":"tab","label":"Wetter","disabled":false,"info":""},{"id":"584378c2.3e16c8","type":"tab","label":"Tesla","disabled":false,"info":""},{"id":"8411b0ae.d4815","type":"tab","label":"Plex","disabled":false,"info":""},{"id":"6ec04d69.f792c4","type":"tab","label":"Licht","disabled":false,"info":""},{"id":"8544e604.9bf28","type":"subflow","name":"Errorhandler","info":"","category":"","in":[{"x":60,"y":40,"wires":[{"id":"66316629.0a05b"},{"id":"590d362e.ea16a8"},{"id":"f2ef2fbe.6b32e8"}]}],"out":[],"env":[{"name":"SentToSlack","type":"bool","value":"false","ui":{"icon":"font-awesome/fa-bell-slash-o","label":{},"type":"input","opts":{"types":["str","num","bool","json","bin","env"]}}},{"name":"LogToDebug","type":"bool","value":"true"},{"name":"LogToConsole","type":"bool","value":"true"}],"color":"#DDAA99"},{"id":"f8eade98.d4c83","type":"ui_base","theme":{"name":"theme-dark","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","reset":false},"themeState":{"base-color":{"default":"#097479","value":"#097479","edited":false},"page-titlebar-backgroundColor":{"value":"#097479","edited":false},"page-backgroundColor":{"value":"#111111","edited":false},"page-sidebar-backgroundColor":{"value":"#000000","edited":false},"group-textColor":{"value":"#0eb8c0","edited":false},"group-borderColor":{"value":"#555555","edited":false},"group-backgroundColor":{"value":"#333333","edited":false},"widget-textColor":{"value":"#eeeeee","edited":false},"widget-backgroundColor":{"value":"#097479","edited":false},"widget-borderColor":{"value":"#333333","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Dashboard","hideToolbar":"false","allowSwipe":"true","lockMenu":"true","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"1eaefd75.304423","type":"ui_tab","z":"","name":"Home","icon":"device_hub","order":2,"disabled":false,"hidden":false},{"id":"ff4bc735.559d78","type":"ui_tab","z":"","name":"Bewegungsmelder","icon":"fa-gears","order":1,"disabled":false,"hidden":false},{"id":"a1521b71.7d2d2","type":"ui_group","z":"","name":"Bewegungsmelder Küche","tab":"ff4bc735.559d78","order":1,"disp":false,"width":"6","collapse":false},{"id":"ad710dfa.62646","type":"ui_group","z":"","name":"Bewegungsmelder","tab":"1eaefd75.304423","order":1,"disp":true,"width":"6","collapse":false},{"id":"3de2bfe.885bdc","type":"mqtt-broker","z":"","name":"Mosquito","broker":"192.168.178.41","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":"","closeTopic":"","closeQos":"0","closeRetain":"false","closePayload":"","willTopic":"","willQos":"0","willRetain":"false","willPayload":""},{"id":"6e5cbd28.1b9ad4","type":"mqtt-broker","z":"","name":"Mosquitto","broker":"192.168.178.41","port":"1883","clientid":"nr-sh-tesla","usetls":false,"compatmode":true,"keepalive":"60","cleansession":false,"birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":"","closeTopic":"","closeQos":"0","closeRetain":"false","closePayload":"","willTopic":"","willQos":"0","willRetain":"false","willPayload":""},{"id":"50080bd6.4ef11c","type":"hue-bridge","z":"","name":"Unterhaching","bridge":"192.168.178.20","key":"LH-QtOj-eU2eEuoNfOP642Wmy9rkvkfSL2Of13Tr","interval":"3000","disableupdates":false},{"id":"3bfe0f7a.c8f3c","type":"ui_group","z":"","name":"Bewegungsmelder Bad","tab":"ff4bc735.559d78","order":1,"disp":false,"width":"6","collapse":false},{"id":"dbc4cafb.b40088","type":"ui_group","z":"","name":"Bewegungsmelder Wohnzimmer","tab":"ff4bc735.559d78","order":2,"disp":false,"width":"6","collapse":false},{"id":"45f8b729.0418e","type":"ui_group","z":"","name":"Wetter","tab":"41c382a3.e04d34","order":1,"disp":false,"width":"16","collapse":false},{"id":"8f7374bc.68e6c","type":"ui_tab","z":"","name":"Laakirchen","icon":"fa-home","order":4,"disabled":false,"hidden":false},{"id":"89324342.c8f23","type":"ui_group","z":"","name":"Laakirchen -> Unterhaching","tab":"8f7374bc.68e6c","order":2,"disp":true,"width":"16","collapse":false},{"id":"29fea05c.89c74","type":"ui_group","z":"","name":"Unterhaching -> Laakirchen","tab":"8f7374bc.68e6c","order":1,"disp":true,"width":"16","collapse":false},{"id":"da2d6788.88441","type":"ui_tab","z":"","name":"Work","icon":"fa-building-o","order":3,"disabled":false,"hidden":false},{"id":"d684314d.248e78","type":"ui_group","z":"","name":"Unterhaching -> IBM","tab":"da2d6788.88441","order":1,"disp":true,"width":"12","collapse":true},{"id":"c8bb26c6.8b4ba8","type":"ui_group","z":"","name":"IBM -> Unterhaching","tab":"da2d6788.88441","order":2,"disp":true,"width":"12","collapse":true},{"id":"41c382a3.e04d34","type":"ui_tab","z":"","name":"Wetter","icon":"fa-sun-o","order":6,"disabled":false,"hidden":false},{"id":"5e5454a0.6c1c9c","type":"ui_group","z":"","name":"Battery","tab":"51fa8fce.4f688","order":2,"disp":true,"width":3,"collapse":false},{"id":"51fa8fce.4f688","type":"ui_tab","z":"","name":"Tesla","icon":"fa-car","order":5,"disabled":false,"hidden":false},{"id":"861cddb4.9c01b8","type":"ui_tab","z":"","name":"Media","icon":"fa-television","order":7,"disabled":false,"hidden":false},{"id":"201cc4fb.18bf04","type":"ui_group","z":"","name":"Plex","tab":"861cddb4.9c01b8","order":1,"disp":true,"width":"6","collapse":false},{"id":"4a2dae.3a0a2254","type":"ui_tab","z":"","name":"Temperatur","icon":"fa-thermometer-three-quarters","disabled":false,"hidden":false},{"id":"b29df1b3.b7e948","type":"ui_group","z":"","name":"Temperatur","tab":"4a2dae.3a0a2254","order":1,"disp":true,"width":"6","collapse":false},{"id":"bf1fe0a6.f4b59","type":"ui_spacer","name":"spacer","group":"201cc4fb.18bf04","order":4,"width":6,"height":1},{"id":"73dcb767.ae637","type":"postgresdb","z":"584378c2.3e16c8","hostname":"database","port":"5432","db":"teslamate","ssl":false},{"id":"69900cfe.3924b4","type":"ui_tab","z":"","name":"Licht","icon":"fa-lightbulb-o","disabled":false,"hidden":false},{"id":"21282da4.492b4a","type":"ui_group","z":"","name":"Wohnzimmer","tab":"69900cfe.3924b4","order":2,"disp":true,"width":4,"collapse":false},{"id":"48cfd956.30fd68","type":"ui_group","z":"","name":"Bett","tab":"69900cfe.3924b4","order":3,"disp":true,"width":4,"collapse":false},{"id":"f27df86.b5fd508","type":"ui_group","z":"","name":"Küche","tab":"69900cfe.3924b4","order":4,"disp":true,"width":4,"collapse":false},{"id":"b2808322.a2e3a8","type":"ui_group","z":"","name":"Bad","tab":"69900cfe.3924b4","order":5,"disp":true,"width":4,"collapse":false},{"id":"be3e379d.f4f9","type":"ui_group","z":"","name":"Szenen","tab":"69900cfe.3924b4","order":1,"disp":true,"width":4,"collapse":false},{"id":"f7b884b7.08fc58","type":"ui_group","z":"","name":"Bewegungsmelder Bett","tab":"ff4bc735.559d78","order":4,"disp":false,"width":"6","collapse":false},{"id":"b0212a87.b8e9f","type":"ui_led","z":"885f38dd.64a8b","group":"dbc4cafb.b40088","order":1,"width":4,"height":1,"label":"<p style='color:blue'>Wohnzimmer</p>","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"red","value":"false","valueType":"bool"},{"color":"green","value":"true","valueType":"bool"}],"allowColorForValueInMessage":false,"name":"Wohnzimmer Status","x":900,"y":640,"wires":[]},{"id":"77bfc098.ffe258","type":"mqtt in","z":"885f38dd.64a8b","name":"","topic":"/dashboard/in/motion/kueche/status","qos":"2","datatype":"json","broker":"3de2bfe.885bdc","x":260,"y":100,"wires":[[]]},{"id":"622f8cc9.8761d4","type":"mqtt in","z":"885f38dd.64a8b","name":"","topic":"/dashboard/in/motion/bad/status","qos":"2","datatype":"json","broker":"3de2bfe.885bdc","x":270,"y":160,"wires":[[]]},{"id":"7b9fb2f4.3cd3cc","type":"mqtt in","z":"885f38dd.64a8b","name":"","topic":"/dashboard/in/motion/wohnzimmer/status","qos":"2","datatype":"json","broker":"3de2bfe.885bdc","x":240,"y":40,"wires":[[]]},{"id":"4cd64731.71cb68","type":"debug","z":"8544e604.9bf28","name":"Log Debug","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":670,"y":40,"wires":[]},{"id":"1a497a6c.f2aabe","type":"mqtt out","z":"8544e604.9bf28","name":"","topic":"/slack/smarthome/out","qos":"","retain":"","broker":"6e5cbd28.1b9ad4","x":700,"y":160,"wires":[]},{"id":"66316629.0a05b","type":"switch","z":"8544e604.9bf28","name":"Slack","property":"SentToSlack","propertyType":"env","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":250,"y":160,"wires":[["82d4a63f.43af08"]]},{"id":"2602623.67c029e","type":"catch","z":"8544e604.9bf28","name":"","scope":null,"uncaught":false,"x":80,"y":460,"wires":[["919938d0.81b93"]]},{"id":"919938d0.81b93","type":"debug","z":"8544e604.9bf28","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":450,"y":460,"wires":[]},{"id":"82d4a63f.43af08","type":"function","z":"8544e604.9bf28","name":"Error Message","func":"var sFlowname = msg.flowinfo.flowname;\nvar sMessage = msg.error.message;\nvar sNode = msg.error.source.name;\n\nmsg.payload = {\n    \"text\": \"Failure in flow *\" + sFlowname + \"* in node *\" + sNode + \"*. \\n`\" + sMessage + \"`\"\n}\nreturn msg;","outputs":1,"noerr":0,"x":440,"y":160,"wires":[["1a497a6c.f2aabe"]]},{"id":"590d362e.ea16a8","type":"switch","z":"8544e604.9bf28","name":"Debug","property":"LogToDebug","propertyType":"env","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":250,"y":40,"wires":[["4cd64731.71cb68"]]},{"id":"f2ef2fbe.6b32e8","type":"switch","z":"8544e604.9bf28","name":"Console","property":"LogToConsole","propertyType":"env","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":260,"y":100,"wires":[["34d6d726.3c681"]]},{"id":"34d6d726.3c681","type":"debug","z":"8544e604.9bf28","name":"Log Console","active":true,"tosidebar":false,"console":true,"tostatus":false,"complete":"true","targetType":"full","x":680,"y":100,"wires":[]},{"id":"6d7439b1.7b03b8","type":"subflow:8544e604.9bf28","z":"885f38dd.64a8b","name":"","env":[{"name":"SentToSlack","value":"true","type":"bool"}],"x":550,"y":1060,"wires":[],"icon":"font-awesome/fa-exclamation"},{"id":"a22d20af.84c74","type":"catch","z":"885f38dd.64a8b","name":"","scope":null,"uncaught":false,"x":200,"y":1060,"wires":[["1c5abf30.a814c1"]]},{"id":"1c5abf30.a814c1","type":"getflowid","z":"885f38dd.64a8b","name":"Get Flow ID","x":370,"y":1060,"wires":[["6d7439b1.7b03b8"]]},{"id":"76e77520.9a57ec","type":"hue-motion","z":"885f38dd.64a8b","name":"Bad sensor","bridge":"50080bd6.4ef11c","sensorid":"15","skipevents":false,"x":310,"y":480,"wires":[["7e435f18.4de88","fa5e1e7a.cc8568","9a43c33c.f52618"]]},{"id":"8f9c0142.711d","type":"hue-motion","z":"885f38dd.64a8b","name":"Wohnzimmer Sensor","bridge":"50080bd6.4ef11c","sensorid":"38","skipevents":false,"x":280,"y":680,"wires":[["ecb4607d.bb899","93da8f67.3efc58","edd4b602.afad58"]]},{"id":"4515d799.b4a6a","type":"hue-motion","z":"885f38dd.64a8b","name":"Küchen Sensor","bridge":"50080bd6.4ef11c","sensorid":"66","skipevents":false,"x":300,"y":240,"wires":[["c4d8212f.0b779","3715ae36.9cacf2","deed8d71.5c6fa8"]]},{"id":"e3e74265.f1e928","type":"inject","z":"885f38dd.64a8b","name":"","topic":"","payload":"status","payloadType":"str","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":90,"y":400,"wires":[["76e77520.9a57ec","8f9c0142.711d","4515d799.b4a6a"]]},{"id":"ecb4607d.bb899","type":"function","z":"885f38dd.64a8b","name":"Wohnzimmer Status","func":"if (msg.payload.active === false) {\n    msg.payload = false;\n}\nelse {\n    msg.payload = true;\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":580,"y":640,"wires":[["b0212a87.b8e9f","3aac80e8.c9d1e8"]]},{"id":"2a05c659.ad94c2","type":"ui_text","z":"885f38dd.64a8b","group":"dbc4cafb.b40088","order":4,"width":6,"height":1,"name":"Wohnzimmer Last Motion","label":"<font size=-2>Last Motion:</font>","format":"<font size=-2>{{msg.payload | date:'HH:mm:ss'}}</font>","layout":"row-left","x":910,"y":720,"wires":[]},{"id":"5634d062.d96fd8","type":"ui_led","z":"885f38dd.64a8b","group":"dbc4cafb.b40088","order":3,"width":1,"height":1,"label":"","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"grey","value":"false","valueType":"bool"},{"color":"yellow","value":"true","valueType":"bool"}],"allowColorForValueInMessage":false,"name":"Wohnzimmer Motion","x":900,"y":680,"wires":[]},{"id":"93da8f67.3efc58","type":"change","z":"885f38dd.64a8b","name":"","rules":[{"t":"move","p":"payload.updated","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":600,"y":720,"wires":[["2a05c659.ad94c2"]]},{"id":"edd4b602.afad58","type":"change","z":"885f38dd.64a8b","name":"","rules":[{"t":"move","p":"payload.motion","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":600,"y":680,"wires":[["5634d062.d96fd8"]]},{"id":"fd5d2373.2021a","type":"ui_led","z":"885f38dd.64a8b","group":"3bfe0f7a.c8f3c","order":1,"width":4,"height":1,"label":"<p style='color:blue'>Badzimmer</p>","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"red","value":"false","valueType":"bool"},{"color":"green","value":"true","valueType":"bool"}],"allowColorForValueInMessage":false,"name":"Bad Status","x":870,"y":440,"wires":[]},{"id":"7e435f18.4de88","type":"function","z":"885f38dd.64a8b","name":"Bad Status","func":"if (msg.payload.active === false) {\n    msg.payload = false;\n}\nelse {\n    msg.payload = true;\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":550,"y":440,"wires":[["fd5d2373.2021a","12469c00.5d345c"]]},{"id":"2761f12f.281a4e","type":"ui_text","z":"885f38dd.64a8b","group":"3bfe0f7a.c8f3c","order":4,"width":6,"height":1,"name":"Bad Last Motion","label":"<font size=-2>Last Motion:</font>","format":"<font size=-2>{{msg.payload | date:'HH:mm:ss'}}</font>","layout":"row-left","x":880,"y":520,"wires":[]},{"id":"1bb52ef9.c39331","type":"ui_led","z":"885f38dd.64a8b","group":"3bfe0f7a.c8f3c","order":3,"width":1,"height":1,"label":"","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"grey","value":"false","valueType":"bool"},{"color":"yellow","value":"true","valueType":"bool"}],"allowColorForValueInMessage":false,"name":"Bad Motion","x":870,"y":480,"wires":[]},{"id":"9a43c33c.f52618","type":"change","z":"885f38dd.64a8b","name":"","rules":[{"t":"move","p":"payload.updated","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":600,"y":520,"wires":[["2761f12f.281a4e"]]},{"id":"fa5e1e7a.cc8568","type":"change","z":"885f38dd.64a8b","name":"","rules":[{"t":"move","p":"payload.motion","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":600,"y":480,"wires":[["1bb52ef9.c39331"]]},{"id":"4318c47e.e403f4","type":"ui_led","z":"885f38dd.64a8b","group":"a1521b71.7d2d2","order":1,"width":4,"height":1,"label":"<p style='color:blue'>Küche</p>","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"red","value":"false","valueType":"bool"},{"color":"green","value":"true","valueType":"bool"}],"allowColorForValueInMessage":false,"name":"Küchen Status","x":880,"y":200,"wires":[]},{"id":"c4d8212f.0b779","type":"function","z":"885f38dd.64a8b","name":"Küche Status","func":"if (msg.payload.active === false) {\n    msg.payload = false;\n}\nelse {\n    msg.payload = true;\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":560,"y":200,"wires":[["4318c47e.e403f4","5cc000c1.18bc5"]]},{"id":"c131a300.72d97","type":"ui_text","z":"885f38dd.64a8b","group":"a1521b71.7d2d2","order":4,"width":6,"height":1,"name":"Küche Last Motion","label":"<font size=-2>Last Motion:</font>","format":"<font size=-2>{{msg.payload | date:'HH:mm:ss'}}</font>","layout":"row-left","x":890,"y":280,"wires":[]},{"id":"65d68598.4526e4","type":"ui_led","z":"885f38dd.64a8b","group":"a1521b71.7d2d2","order":3,"width":1,"height":1,"label":"","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"grey","value":"false","valueType":"bool"},{"color":"yellow","value":"true","valueType":"bool"}],"allowColorForValueInMessage":false,"name":"Küchen Motion","x":880,"y":240,"wires":[]},{"id":"deed8d71.5c6fa8","type":"change","z":"885f38dd.64a8b","name":"","rules":[{"t":"move","p":"payload.updated","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":600,"y":280,"wires":[["c131a300.72d97"]]},{"id":"3715ae36.9cacf2","type":"change","z":"885f38dd.64a8b","name":"","rules":[{"t":"move","p":"payload.motion","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":600,"y":240,"wires":[["65d68598.4526e4"]]},{"id":"3a5569b.452e816","type":"inject","z":"6edcc166.d0745","name":"","topic":"","payload":"<iframe src=\"https://www.google.com/maps/dir/Von-Stauffenberg-Straße+96,+82008+Unterhaching,+Deutschland/Mies-van-der-Rohe-Straße+6,+80807+München,+Deutschland/@48.1184807,11.5446658,12z/data=!3m1!4b1!4m14!4m13!1m5!1m1!1s0x479de0a7bb0e9ab7:0x8491722c6ea7340e!2m2!1d11.62471!2d48.06102!1m5!1m1!1s0x479e744a685c3351:0x4922cdc869b0f9f0!2m2!1d11.59261!2d48.17645!3e0\">","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":170,"y":200,"wires":[[]]},{"id":"830f6b1.2501418","type":"inject","z":"6edcc166.d0745","name":"","topic":"","payload":"<iframe src=\"https://www.google.com/maps/embed?pb=!1m28!1m12!1m3!1d85234.32204803196!2d11.54466581769648!3d48.118480672399414!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m13!3e0!4m5!1s0x479de0a7bb0e9ab7%3A0x8491722c6ea7340e!2sVon-Stauffenberg-Stra%C3%9Fe%2096%2C%2082008%20Unterhaching%2C%20Deutschland!3m2!1d48.06102!2d11.62471!4m5!1s0x479e744a685c3351%3A0x4922cdc869b0f9f0!2sMies-van-der-Rohe-Stra%C3%9Fe%206%2C%2080807%20M%C3%BCnchen%2C%20Deutschland!3m2!1d48.176449999999996!2d11.592609999999999!5e0!3m2!1sen!2sde!4v1591454661033!5m2!1sen!2sde\" width=\"600\" height=\"450\" frameborder=\"0\" style=\"border:0;\" allowfullscreen=\"\" aria-hidden=\"false\" tabindex=\"0\"></iframe>","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":150,"y":300,"wires":[[]]},{"id":"58bb1340.2d47cc","type":"ui_template","z":"6edcc166.d0745","group":"89324342.c8f23","name":"Laakirchen - Unterhaching","order":1,"width":0,"height":0,"format":"<iframe src=\"https://www.google.com/maps/embed?pb=!1m28!1m12!1m3!1d682822.9187130033!2d12.271790167198839!3d48.04698867810587!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m13!3e0!4m5!1s0x4773f941e71373f3%3A0xfc16805b23835709!2sDoktor-Watzke-Stra%C3%9Fe%202%2C%20Laakirchen%2C%20%C3%96sterreich!3m2!1d47.9836398!2d13.819605899999999!4m5!1s0x479de0a7bb0e9ab7%3A0x8491722c6ea7340e!2sVon-Stauffenberg-Stra%C3%9Fe%2096%2C%2082008%20Unterhaching%2C%20Deutschland!3m2!1d48.06102!2d11.62471!5e0!3m2!1sen!2sde!4v1591535814186!5m2!1sen!2sde\" height=\"450\" frameborder=\"0\" style=\"border:0;\" allowfullscreen=\"\" aria-hidden=\"false\" tabindex=\"0\"></iframe>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":false,"templateScope":"local","x":540,"y":460,"wires":[[]]},{"id":"3078cdef.1a8bf2","type":"ui_template","z":"6edcc166.d0745","group":"29fea05c.89c74","name":"Unterhaching - Laakirchen","order":1,"width":0,"height":0,"format":"<iframe src=\"https://www.google.com/maps/embed?pb=!1m28!1m12!1m3!1d682044.4796787468!2d12.269906202263988!3d48.1056781820621!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m13!3e0!4m5!1s0x479de0a7bb0e9ab7%3A0x8491722c6ea7340e!2sVon-Stauffenberg-Stra%C3%9Fe%2096%2C%2082008%20Unterhaching%2C%20Deutschland!3m2!1d48.06102!2d11.62471!4m5!1s0x4773f96a991aed1b%3A0x1caeeb3b127afd43!2sDoktor-Watzke-Stra%C3%9Fe%2C%20Laakirchen%2C%20Austria!3m2!1d47.9845963!2d13.8171082!5e0!3m2!1sen!2sde!4v1591455264690!5m2!1sen!2sde\" height=\"450\" frameborder=\"0\" style=\"border:0;\" allowfullscreen=\"\" aria-hidden=\"false\" tabindex=\"0\"></iframe>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":false,"templateScope":"local","x":540,"y":540,"wires":[[]]},{"id":"3839e418.439204","type":"ui_template","z":"6edcc166.d0745","group":"d684314d.248e78","name":"Unterhaching -> IBM","order":0,"width":0,"height":0,"format":"<iframe src=\"https://www.google.com/maps/embed?pb=!1m28!1m12!1m3!1d85234.32204836287!2d11.544665489419245!3d48.11848067219996!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m13!3e0!4m5!1s0x479de0a7bb0e9ab7%3A0x8491722c6ea7340e!2sVon-Stauffenberg-Stra%C3%9Fe%2096%2C%2082008%20Unterhaching%2C%20Deutschland!3m2!1d48.06102!2d11.62471!4m5!1s0x479e744a685c3351%3A0x4922cdc869b0f9f0!2sMies-van-der-Rohe-Stra%C3%9Fe%206%2C%2080807%20M%C3%BCnchen%2C%20Deutschland!3m2!1d48.176449999999996!2d11.592609999999999!5e0!3m2!1sen!2sde!4v1591536512465!5m2!1sen!2sde\" height=\"750\" frameborder=\"0\" style=\"border:0;\" allowfullscreen=\"\" aria-hidden=\"true\" tabindex=\"0\"></iframe>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":600,"y":300,"wires":[[]]},{"id":"6d46ae36.0a68","type":"ui_template","z":"6edcc166.d0745","group":"c8bb26c6.8b4ba8","name":"IBM -> Unterhaching","order":0,"width":0,"height":0,"format":"<iframe src=\"https://www.google.com/maps/embed?pb=!1m28!1m12!1m3!1d85233.82258854!2d11.541308389429966!3d48.11878172222438!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m13!3e0!4m5!1s0x479e744a685c3351%3A0x4922cdc869b0f9f0!2sMies-van-der-Rohe-Stra%C3%9Fe%206%2C%2080807%20M%C3%BCnchen%2C%20Deutschland!3m2!1d48.176449999999996!2d11.592609999999999!4m5!1s0x479de0a7bb0e9ab7%3A0x8491722c6ea7340e!2sVon-Stauffenberg-Stra%C3%9Fe%2096%2C%2082008%20Unterhaching%2C%20Deutschland!3m2!1d48.06102!2d11.62471!5e0!3m2!1sen!2sde!4v1591536491591!5m2!1sen!2sde\" height=\"750\" frameborder=\"0\" style=\"border:0;\" allowfullscreen=\"\" aria-hidden=\"false\" tabindex=\"0\"></iframe>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":600,"y":340,"wires":[[]]},{"id":"b86cd19d.824d4","type":"ui_template","z":"8eae0a4c.0fa16","group":"45f8b729.0418e","name":"Wetter","order":1,"width":"16","height":"7","format":"<div id=\"cont_1510638d58b49862159cd0e7cb1c1295\"><script type=\"text/javascript\" async src=\"https://www.daswetter.com/wid_loader/1510638d58b49862159cd0e7cb1c1295\"></script></div>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":410,"y":220,"wires":[[]]},{"id":"5cc000c1.18bc5","type":"ui_switch","z":"885f38dd.64a8b","name":"Küchen Schalter","label":"","tooltip":"","group":"a1521b71.7d2d2","order":2,"width":1,"height":1,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":880,"y":140,"wires":[["2b9d0110.cdaede"]]},{"id":"2b9d0110.cdaede","type":"hue-motion","z":"885f38dd.64a8b","name":"Küchen Sensor","bridge":"50080bd6.4ef11c","sensorid":"66","skipevents":false,"x":1120,"y":140,"wires":[[]]},{"id":"12469c00.5d345c","type":"ui_switch","z":"885f38dd.64a8b","name":"Bad Schalter","label":"","tooltip":"","group":"3bfe0f7a.c8f3c","order":2,"width":1,"height":1,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":870,"y":380,"wires":[["eed4c115.624f8"]]},{"id":"eed4c115.624f8","type":"hue-motion","z":"885f38dd.64a8b","name":"Bad sensor","bridge":"50080bd6.4ef11c","sensorid":"15","skipevents":false,"x":1110,"y":380,"wires":[[]]},{"id":"3aac80e8.c9d1e8","type":"ui_switch","z":"885f38dd.64a8b","name":"Wohnzimmer Schalter","label":"","tooltip":"","group":"dbc4cafb.b40088","order":2,"width":1,"height":1,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":900,"y":580,"wires":[["1ce074dd.90da93"]]},{"id":"1ce074dd.90da93","type":"hue-motion","z":"885f38dd.64a8b","name":"Wohnzimmer Sensor","bridge":"50080bd6.4ef11c","sensorid":"38","skipevents":false,"x":1140,"y":580,"wires":[[]]},{"id":"d8971fa.7ab14e","type":"ui_button","z":"8411b0ae.d4815","name":"Play","group":"201cc4fb.18bf04","order":1,"width":0,"height":0,"passthru":false,"label":"","tooltip":"","color":"","bgcolor":"","icon":"mi-play_arrow","payload":"","payloadType":"str","topic":"","x":430,"y":460,"wires":[["c48f121f.af0e98","4a044698.158048"]]},{"id":"759b4a89.be540c","type":"ui_button","z":"8411b0ae.d4815","name":"Stop","group":"201cc4fb.18bf04","order":3,"width":0,"height":0,"passthru":false,"label":"","tooltip":"","color":"","bgcolor":"","icon":"mi-stop","payload":"","payloadType":"str","topic":"","x":430,"y":520,"wires":[["bd3a7d08.be7de8"]]},{"id":"b2e0ed2a.de06c","type":"ui_button","z":"8411b0ae.d4815","name":"Pause","group":"201cc4fb.18bf04","order":2,"width":0,"height":0,"passthru":false,"label":"","tooltip":"","color":"","bgcolor":"","icon":"mi-pause","payload":"","payloadType":"str","topic":"","x":430,"y":580,"wires":[["6ed5c066.4c78b8"]]},{"id":"2cde45b4.633faa","type":"ui_slider","z":"8411b0ae.d4815","name":"Volume","label":"","tooltip":"","group":"201cc4fb.18bf04","order":7,"width":0,"height":0,"passthru":true,"outs":"all","topic":"","min":0,"max":"50","step":1,"x":240,"y":260,"wires":[[]]},{"id":"175b2093.1d70c7","type":"ui_valuetrail","z":"ea3852ff.87d0d","group":"b29df1b3.b7e948","order":0,"width":0,"height":0,"name":"Bad","label":"","blur":true,"minmax":true,"showvalue":true,"decimals":"1","colorLine":"#ff9900","colorFromTheme":true,"stroke":2,"property":"payload","pointcount":8,"x":750,"y":240,"wires":[]},{"id":"206a2197.0b2ebe","type":"hue-temperature","z":"ea3852ff.87d0d","name":"Hue temperature sensor 4","bridge":"50080bd6.4ef11c","sensorid":"68","skipevents":false,"x":310,"y":240,"wires":[["e5cf6ee0.a0e8e","c73a8174.6e41e8"]]},{"id":"e5cf6ee0.a0e8e","type":"debug","z":"ea3852ff.87d0d","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":590,"y":160,"wires":[]},{"id":"c73a8174.6e41e8","type":"change","z":"ea3852ff.87d0d","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.celsius","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":560,"y":240,"wires":[["ed97d2a8.2eef9","175b2093.1d70c7"]]},{"id":"ed97d2a8.2eef9","type":"debug","z":"ea3852ff.87d0d","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":770,"y":300,"wires":[]},{"id":"e4385cbd.e7e198","type":"inject","z":"ea3852ff.87d0d","name":"","topic":"","payload":"20","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":530,"y":340,"wires":[["175b2093.1d70c7"]]},{"id":"282cd66.64d9f2a","type":"inject","z":"ea3852ff.87d0d","name":"","topic":"","payload":"25","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":530,"y":380,"wires":[["175b2093.1d70c7"]]},{"id":"c48f121f.af0e98","type":"mqtt out","z":"8411b0ae.d4815","name":"","topic":"/plex/play","qos":"","retain":"","broker":"3de2bfe.885bdc","x":680,"y":460,"wires":[]},{"id":"bd3a7d08.be7de8","type":"mqtt out","z":"8411b0ae.d4815","name":"","topic":"/plex/stop","qos":"","retain":"","broker":"3de2bfe.885bdc","x":680,"y":520,"wires":[]},{"id":"6ed5c066.4c78b8","type":"mqtt out","z":"8411b0ae.d4815","name":"","topic":"/plex/pause","qos":"","retain":"","broker":"3de2bfe.885bdc","x":690,"y":580,"wires":[]},{"id":"4a044698.158048","type":"debug","z":"8411b0ae.d4815","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":680,"y":420,"wires":[]},{"id":"7a4a1f17.02f278","type":"ui_button","z":"8411b0ae.d4815","name":"Unmute","group":"201cc4fb.18bf04","order":6,"width":3,"height":1,"passthru":false,"label":"","tooltip":"","color":"","bgcolor":"{{msg.background}}","icon":"mi-volume_up","payload":"","payloadType":"str","topic":"","x":420,"y":920,"wires":[["20322ac3.88b3c6","c9e6859b.31a7a","c929e3b9.bef7a8"]]},{"id":"20322ac3.88b3c6","type":"mqtt out","z":"8411b0ae.d4815","name":"","topic":"/home/unmute","qos":"","retain":"","broker":"3de2bfe.885bdc","x":700,"y":920,"wires":[]},{"id":"c929e3b9.bef7a8","type":"change","z":"8411b0ae.d4815","name":"","rules":[{"t":"set","p":"background","pt":"msg","to":"grey","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":420,"y":860,"wires":[["7a4a1f17.02f278"]]},{"id":"c8cc5638.e9885","type":"ui_button","z":"8411b0ae.d4815","name":"Mute","group":"201cc4fb.18bf04","order":5,"width":3,"height":1,"passthru":false,"label":"","tooltip":"","color":"","bgcolor":"{{msg.background}}","icon":"mi-volume_off","payload":"","payloadType":"str","topic":"","x":430,"y":660,"wires":[["d46b2294.a6c768","99178233.685f88","5e039449.6d7e8c"]]},{"id":"d46b2294.a6c768","type":"mqtt out","z":"8411b0ae.d4815","name":"","topic":"/home/mute","qos":"","retain":"","broker":"3de2bfe.885bdc","x":690,"y":660,"wires":[]},{"id":"c9e6859b.31a7a","type":"change","z":"8411b0ae.d4815","name":"","rules":[{"t":"set","p":"background","pt":"msg","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":420,"y":760,"wires":[["c8cc5638.e9885"]]},{"id":"99178233.685f88","type":"change","z":"8411b0ae.d4815","name":"","rules":[{"t":"set","p":"background","pt":"msg","to":"grey","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":420,"y":720,"wires":[["c8cc5638.e9885"]]},{"id":"5e039449.6d7e8c","type":"change","z":"8411b0ae.d4815","name":"","rules":[{"t":"set","p":"background","pt":"msg","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":420,"y":820,"wires":[["7a4a1f17.02f278"]]},{"id":"53425523.48b194","type":"ui_artlessgauge","z":"584378c2.3e16c8","group":"5e5454a0.6c1c9c","order":1,"width":3,"height":3,"name":"Battery","icon":"mi-electric_car","label":"Battery","unit":"%","layout":"radial","decimals":0,"differential":false,"minmax":false,"colorTrack":"#555555","colorFromTheme":true,"property":"payload","sectors":[{"val":0,"col":"#ff2600","t":"min","dot":0},{"val":30,"col":"#fffc00","t":"sec","dot":0},{"val":60,"col":"#77bb40","t":"sec","dot":0},{"val":100,"col":"#77bb40","t":"max","dot":0}],"lineWidth":"7","bgcolorFromTheme":true,"diffCenter":"","x":940,"y":120,"wires":[]},{"id":"e0abbb05.18dbc8","type":"postgres","z":"584378c2.3e16c8","postgresdb":"73dcb767.ae637","name":"Q Battery","output":true,"perrow":false,"rowspermsg":"1","outputs":1,"x":540,"y":120,"wires":[["2b89cbb3.0077bc"]]},{"id":"2b89cbb3.0077bc","type":"change","z":"584378c2.3e16c8","name":"Battery Level","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload[0].battery_level","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":730,"y":120,"wires":[["53425523.48b194"]]},{"id":"4ac2201e.8537f8","type":"ui_ui_control","z":"584378c2.3e16c8","name":"Changes","events":"change","x":120,"y":120,"wires":[["e7b81831.1918b8","667531f0.e2ae8","2730bb67.a2f5bc"]]},{"id":"e7b81831.1918b8","type":"change","z":"584378c2.3e16c8","name":"Battery Query","rules":[{"t":"set","p":"payload","pt":"msg","to":"(SELECT battery_level, date FROM positions WHERE car_id = 1 ORDER BY date DESC LIMIT 1)","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":340,"y":120,"wires":[["e0abbb05.18dbc8"]]},{"id":"2745f60.029ad0a","type":"ui_text","z":"584378c2.3e16c8","group":"5e5454a0.6c1c9c","order":2,"width":0,"height":0,"name":"Range","label":"Range","format":"{{msg.payload}}","layout":"col-center","x":930,"y":180,"wires":[]},{"id":"e37f2d09.2bbf5","type":"postgres","z":"584378c2.3e16c8","postgresdb":"73dcb767.ae637","name":"Q Range","output":true,"perrow":false,"rowspermsg":"1","outputs":1,"x":540,"y":180,"wires":[["af88d8e0.af817"]]},{"id":"667531f0.e2ae8","type":"change","z":"584378c2.3e16c8","name":"Range Query","rules":[{"t":"set","p":"payload","pt":"msg","to":"select  rated_battery_range_km from positions where car_id = 1 and rated_battery_range_km is not null order by date desc limit 1;","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":330,"y":180,"wires":[["e37f2d09.2bbf5"]]},{"id":"87616331.b2a1b8","type":"postgres","z":"584378c2.3e16c8","postgresdb":"73dcb767.ae637","name":"Q Odometer","output":true,"perrow":false,"rowspermsg":"1","outputs":1,"x":550,"y":240,"wires":[["fb1191a2.4fc198"]]},{"id":"2730bb67.a2f5bc","type":"change","z":"584378c2.3e16c8","name":"Odometer Query","rules":[{"t":"set","p":"payload","pt":"msg","to":"select  odometer from positions where car_id = 1 order by date desc limit 1;","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":350,"y":240,"wires":[["87616331.b2a1b8"]]},{"id":"44033780.bf8768","type":"ui_text","z":"584378c2.3e16c8","group":"5e5454a0.6c1c9c","order":3,"width":0,"height":0,"name":"Odometer","label":"Odometer","format":"{{msg.payload}}","layout":"col-center","x":940,"y":240,"wires":[]},{"id":"fb1191a2.4fc198","type":"function","z":"584378c2.3e16c8","name":"Calc Odometer","func":"var odo = msg.payload[0].odometer;\nvar res = parseFloat(odo).toFixed(0) + \" km\";\nmsg.payload = res;\nreturn msg;","outputs":1,"noerr":0,"x":740,"y":240,"wires":[["44033780.bf8768"]]},{"id":"af88d8e0.af817","type":"function","z":"584378c2.3e16c8","name":"Calc Range","func":"var odo = msg.payload[0].rated_battery_range_km;\nvar res = parseFloat(odo).toFixed(0) + \" km\";\nmsg.payload = res;\nreturn msg;","outputs":1,"noerr":0,"x":730,"y":180,"wires":[["2745f60.029ad0a"]]},{"id":"e5254265.4fad28","type":"ui_button","z":"6ec04d69.f792c4","name":"Wohnzimmer Hell","group":"21282da4.492b4a","order":1,"width":0,"height":0,"passthru":false,"label":"Hell","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":460,"y":200,"wires":[["36c82045.32f4c8"]]},{"id":"f582b695.39687","type":"ui_button","z":"6ec04d69.f792c4","name":"Bett Fernsehen","group":"48cfd956.30fd68","order":1,"width":0,"height":0,"passthru":false,"label":"Fernsehen","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":460,"y":260,"wires":[["17b20758.2fd911"]]},{"id":"a5ec4cc9.03df2","type":"ui_button","z":"6ec04d69.f792c4","name":"Küche Kochen","group":"f27df86.b5fd508","order":1,"width":0,"height":0,"passthru":false,"label":"Kochen","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":460,"y":320,"wires":[[]]},{"id":"f9dd66a1.e7ee48","type":"ui_button","z":"6ec04d69.f792c4","name":"Bad Baden","group":"b2808322.a2e3a8","order":1,"width":0,"height":0,"passthru":false,"label":"Baden","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":450,"y":380,"wires":[[]]},{"id":"41dc7af2.67aa4c","type":"ui_button","z":"6ec04d69.f792c4","name":"Wohnzimmer Arbeiten","group":"21282da4.492b4a","order":2,"width":0,"height":0,"passthru":false,"label":"Arbeiten","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":460,"y":160,"wires":[["889cfc0c.035b28"]]},{"id":"8393b9fa.5cf418","type":"ui_button","z":"6ec04d69.f792c4","name":"Wohnzimmer Fernsehen","group":"21282da4.492b4a","order":3,"width":0,"height":0,"passthru":false,"label":"Fernsehen","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":470,"y":120,"wires":[["17b20758.2fd911"]]},{"id":"19eac1bc.49947e","type":"ui_button","z":"6ec04d69.f792c4","name":"Szene Hell","group":"be3e379d.f4f9","order":1,"width":0,"height":0,"passthru":false,"label":"Hell","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":450,"y":480,"wires":[["36c82045.32f4c8"]]},{"id":"fb6269b.136b798","type":"ui_button","z":"6ec04d69.f792c4","name":"Szene Arbeiten","group":"be3e379d.f4f9","order":2,"width":0,"height":0,"passthru":false,"label":"Arbeiten","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":460,"y":520,"wires":[["889cfc0c.035b28"]]},{"id":"57e96a67.61d0cc","type":"ui_button","z":"6ec04d69.f792c4","name":"Szene Gute Nacht","group":"be3e379d.f4f9","order":3,"width":0,"height":0,"passthru":false,"label":"Gute Nacht","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":470,"y":560,"wires":[["3ece5d9e.61414a"]]},{"id":"76182cee.57eafc","type":"ui_button","z":"6ec04d69.f792c4","name":"Szene Baden","group":"be3e379d.f4f9","order":4,"width":0,"height":0,"passthru":false,"label":"Baden","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":450,"y":600,"wires":[[]]},{"id":"36c82045.32f4c8","type":"mqtt out","z":"6ec04d69.f792c4","name":"","topic":"/home/scenes/hell","qos":"","retain":"","broker":"3de2bfe.885bdc","x":890,"y":200,"wires":[]},{"id":"17b20758.2fd911","type":"mqtt out","z":"6ec04d69.f792c4","name":"","topic":"/home/scenes/fernsehen","qos":"","retain":"","broker":"3de2bfe.885bdc","x":910,"y":260,"wires":[]},{"id":"889cfc0c.035b28","type":"mqtt out","z":"6ec04d69.f792c4","name":"","topic":"/home/scenes/arbeiten","qos":"","retain":"","broker":"3de2bfe.885bdc","x":910,"y":160,"wires":[]},{"id":"3ece5d9e.61414a","type":"mqtt out","z":"6ec04d69.f792c4","name":"","topic":"/home/scenes/gute-nacht","qos":"","retain":"","broker":"3de2bfe.885bdc","x":910,"y":560,"wires":[]},{"id":"7896bc96.c89cac","type":"hue-brightness","z":"57fd27e5.8820b","name":"Lichtsensor Bad","bridge":"50080bd6.4ef11c","sensorid":"16","skipevents":false,"x":160,"y":260,"wires":[["5fd9fcb.9723c04","737adb46.7a854c"]]},{"id":"5fd9fcb.9723c04","type":"debug","z":"57fd27e5.8820b","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":550,"y":420,"wires":[]},{"id":"41e55787.def048","type":"hue-brightness","z":"57fd27e5.8820b","name":"Lichtsensor Wohnzimmer","bridge":"50080bd6.4ef11c","sensorid":"39","skipevents":false,"x":190,"y":200,"wires":[["5fd9fcb.9723c04","56a9d89b.d98568","6549490d.444808"]]},{"id":"573df0cf.9b7848","type":"hue-brightness","z":"57fd27e5.8820b","name":"Lichtsensor Küche","bridge":"50080bd6.4ef11c","sensorid":"67","skipevents":false,"x":170,"y":360,"wires":[["5fd9fcb.9723c04","4ea5966a.6914a8"]]},{"id":"d0f449a6.6e865","type":"ui_level","z":"57fd27e5.8820b","group":"a1521b71.7d2d2","order":5,"width":0,"height":0,"name":"Helligkeit Küche","label":"","colorHi":"#f8fbdc","colorWarn":"#fff995","colorNormal":"#ffc777","colorOff":"#595959","min":0,"max":"400","segWarn":"","segHigh":"","unit":"lux","layout":"sh","channelA":"","channelB":"","decimals":0,"animations":"soft","shape":2,"colorschema":"rainbow","textoptions":"custom","colorText":"#eeeeee","fontLabel":"","fontValue":"","fontSmall":"","colorFromTheme":true,"textAnimations":false,"hideValue":false,"tickmode":"off","peakmode":false,"peaktime":3000,"x":880,"y":360,"wires":[]},{"id":"4ea5966a.6914a8","type":"change","z":"57fd27e5.8820b","name":"","rules":[{"t":"move","p":"payload.lux","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":580,"y":360,"wires":[["d0f449a6.6e865","2a7de120.80d9be"]]},{"id":"70946f1b.f4a1b8","type":"ui_level","z":"57fd27e5.8820b","group":"dbc4cafb.b40088","order":5,"width":0,"height":0,"name":"Helligkeit Wohnzimmer","label":"","colorHi":"#f8fbdc","colorWarn":"#fff86b","colorNormal":"#ffb43e","colorOff":"#595959","min":0,"max":"400","segWarn":"","segHigh":"","unit":"lux","layout":"sh","channelA":"","channelB":"","decimals":0,"animations":"soft","shape":2,"colorschema":"rainbow","textoptions":"default","colorText":"#eeeeee","fontLabel":"","fontValue":"","fontSmall":"","colorFromTheme":true,"textAnimations":false,"hideValue":false,"tickmode":"off","peakmode":false,"peaktime":3000,"x":900,"y":200,"wires":[]},{"id":"737adb46.7a854c","type":"change","z":"57fd27e5.8820b","name":"","rules":[{"t":"move","p":"payload.lux","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":580,"y":260,"wires":[["7730d615.665f08","8865d320.cde148"]]},{"id":"7730d615.665f08","type":"ui_level","z":"57fd27e5.8820b","group":"3bfe0f7a.c8f3c","order":5,"width":0,"height":0,"name":"Helligkeit Bad","label":"","colorHi":"#f8fbdc","colorWarn":"#fff995","colorNormal":"#fec700","colorOff":"#595959","min":0,"max":"400","segWarn":"","segHigh":"","unit":"lux","layout":"sh","channelA":"","channelB":"","decimals":0,"animations":"soft","shape":2,"colorschema":"fixed","textoptions":"default","colorText":"#eeeeee","fontLabel":"","fontValue":"","fontSmall":"","colorFromTheme":true,"textAnimations":false,"hideValue":false,"tickmode":"off","peakmode":false,"peaktime":3000,"x":880,"y":260,"wires":[]},{"id":"56a9d89b.d98568","type":"change","z":"57fd27e5.8820b","name":"","rules":[{"t":"move","p":"payload.lux","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":580,"y":200,"wires":[["70946f1b.f4a1b8","a3193f87.551688"]]},{"id":"e62d954f.190cd","type":"hue-bridge-node","z":"57fd27e5.8820b","name":"","bridge":"50080bd6.4ef11c","autoupdates":true,"skipglobalevents":false,"x":350,"y":460,"wires":[["5fd9fcb.9723c04"]]},{"id":"d5bb66d1.a5505","type":"inject","z":"57fd27e5.8820b","name":"","topic":"","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":170,"y":460,"wires":[["e62d954f.190cd"]]},{"id":"8865d320.cde148","type":"ui_level","z":"57fd27e5.8820b","group":"b2808322.a2e3a8","order":2,"width":0,"height":0,"name":"Helligkeit Bad","label":"","colorHi":"#f8fbdc","colorWarn":"#fff995","colorNormal":"#fec700","colorOff":"#595959","min":0,"max":"400","segWarn":"","segHigh":"","unit":"lux","layout":"sh","channelA":"","channelB":"","decimals":0,"animations":"soft","shape":2,"colorschema":"fixed","textoptions":"default","colorText":"#eeeeee","fontLabel":"","fontValue":"","fontSmall":"","colorFromTheme":true,"textAnimations":false,"hideValue":false,"tickmode":"off","peakmode":false,"peaktime":3000,"x":880,"y":300,"wires":[]},{"id":"2a7de120.80d9be","type":"ui_level","z":"57fd27e5.8820b","group":"f27df86.b5fd508","order":2,"width":0,"height":0,"name":"Helligkeit Küche","label":"","colorHi":"#f8fbdc","colorWarn":"#fff995","colorNormal":"#ffc777","colorOff":"#595959","min":0,"max":"400","segWarn":"","segHigh":"","unit":"lux","layout":"sh","channelA":"","channelB":"","decimals":0,"animations":"soft","shape":2,"colorschema":"rainbow","textoptions":"custom","colorText":"#eeeeee","fontLabel":"","fontValue":"","fontSmall":"","colorFromTheme":true,"textAnimations":false,"hideValue":false,"tickmode":"off","peakmode":false,"peaktime":3000,"x":880,"y":400,"wires":[]},{"id":"a3193f87.551688","type":"ui_level","z":"57fd27e5.8820b","group":"21282da4.492b4a","order":4,"width":0,"height":0,"name":"Helligkeit Wohnzimmer","label":"","colorHi":"#f8fbdc","colorWarn":"#fff86b","colorNormal":"#ffb43e","colorOff":"#595959","min":0,"max":"400","segWarn":"","segHigh":"","unit":"lux","layout":"sh","channelA":"","channelB":"","decimals":0,"animations":"soft","shape":2,"colorschema":"rainbow","textoptions":"default","colorText":"#eeeeee","fontLabel":"","fontValue":"","fontSmall":"","colorFromTheme":true,"textAnimations":false,"hideValue":false,"tickmode":"off","peakmode":false,"peaktime":3000,"x":900,"y":160,"wires":[]},{"id":"c763aa2c.891dc8","type":"ui_level","z":"57fd27e5.8820b","group":"f7b884b7.08fc58","order":5,"width":0,"height":0,"name":"Helligkeit Bett","label":"","colorHi":"#f8fbdc","colorWarn":"#fff86b","colorNormal":"#ffb43e","colorOff":"#595959","min":0,"max":"400","segWarn":"","segHigh":"","unit":"lux","layout":"sh","channelA":"","channelB":"","decimals":0,"animations":"soft","shape":2,"colorschema":"rainbow","textoptions":"default","colorText":"#eeeeee","fontLabel":"","fontValue":"","fontSmall":"","colorFromTheme":true,"textAnimations":false,"hideValue":false,"tickmode":"off","peakmode":false,"peaktime":3000,"x":880,"y":100,"wires":[]},{"id":"6549490d.444808","type":"change","z":"57fd27e5.8820b","name":"","rules":[{"t":"move","p":"payload.lux","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":580,"y":100,"wires":[["c763aa2c.891dc8","a8b3d5c2.b5f588"]]},{"id":"a8b3d5c2.b5f588","type":"ui_level","z":"57fd27e5.8820b","group":"48cfd956.30fd68","order":4,"width":0,"height":0,"name":"Helligkeit Bett","label":"","colorHi":"#f8fbdc","colorWarn":"#fff86b","colorNormal":"#ffb43e","colorOff":"#595959","min":0,"max":"400","segWarn":"","segHigh":"","unit":"lux","layout":"sh","channelA":"","channelB":"","decimals":0,"animations":"soft","shape":2,"colorschema":"rainbow","textoptions":"default","colorText":"#eeeeee","fontLabel":"","fontValue":"","fontSmall":"","colorFromTheme":true,"textAnimations":false,"hideValue":false,"tickmode":"off","peakmode":false,"peaktime":3000,"x":880,"y":60,"wires":[]},{"id":"5d4b745e.ade1cc","type":"subflow:8544e604.9bf28","z":"57fd27e5.8820b","name":"","env":[{"name":"SentToSlack","value":"true","type":"bool"}],"x":530,"y":580,"wires":[],"icon":"font-awesome/fa-exclamation"},{"id":"69379fa7.01b288","type":"catch","z":"57fd27e5.8820b","name":"","scope":null,"uncaught":false,"x":180,"y":580,"wires":[["bc4b0586.ea509"]]},{"id":"bc4b0586.ea509","type":"getflowid","z":"57fd27e5.8820b","name":"Get Flow ID","x":350,"y":580,"wires":[["5d4b745e.ade1cc"]]},{"id":"d8c4773d.7edde","type":"ui_led","z":"885f38dd.64a8b","group":"f7b884b7.08fc58","order":1,"width":4,"height":1,"label":"<p style='color:blue'>Bett</p>","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"red","value":"false","valueType":"bool"},{"color":"green","value":"true","valueType":"bool"}],"allowColorForValueInMessage":false,"name":"Bett Status","x":870,"y":840,"wires":[]},{"id":"d2e78988.92872","type":"function","z":"885f38dd.64a8b","name":"Wohnzimmer Status","func":"if (msg.payload.active === false) {\n    msg.payload = false;\n}\nelse {\n    msg.payload = true;\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":580,"y":840,"wires":[["d8c4773d.7edde","e82cb72b.2cc58"]]},{"id":"18134a86.836dad","type":"ui_text","z":"885f38dd.64a8b","group":"f7b884b7.08fc58","order":4,"width":6,"height":1,"name":"Bett Last Motion","label":"<font size=-2>Last Motion:</font>","format":"<font size=-2>{{msg.payload | date:'HH:mm:ss'}}</font>","layout":"row-left","x":890,"y":920,"wires":[]},{"id":"9433f81.e224908","type":"ui_led","z":"885f38dd.64a8b","group":"f7b884b7.08fc58","order":3,"width":1,"height":1,"label":"","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"grey","value":"false","valueType":"bool"},{"color":"yellow","value":"true","valueType":"bool"}],"allowColorForValueInMessage":false,"name":"Bett Motion","x":870,"y":880,"wires":[]},{"id":"abc71a12.e97198","type":"change","z":"885f38dd.64a8b","name":"","rules":[{"t":"move","p":"payload.updated","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":600,"y":920,"wires":[["18134a86.836dad"]]},{"id":"963b7b23.6790c","type":"change","z":"885f38dd.64a8b","name":"","rules":[{"t":"move","p":"payload.motion","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":600,"y":880,"wires":[["9433f81.e224908"]]},{"id":"e82cb72b.2cc58","type":"ui_switch","z":"885f38dd.64a8b","name":"Bett Schalter","label":"","tooltip":"","group":"f7b884b7.08fc58","order":2,"width":1,"height":1,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":870,"y":780,"wires":[[]]}]