flows.json
[{"id":"885f38dd.64a8b","type":"tab","label":"Bewegungsmelder","disabled":false,"info":""},{"id":"2e1e972e.ae23c","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"8544e604.9bf28","type":"subflow","name":"Errorhandler","info":"","category":"","in":[{"x":60,"y":40,"wires":[{"id":"66316629.0a05b"},{"id":"590d362e.ea16a8"},{"id":"f2ef2fbe.6b32e8"}]}],"out":[],"env":[{"name":"SentToSlack","type":"bool","value":"false","ui":{"icon":"font-awesome/fa-bell-slash-o","label":{},"type":"input","opts":{"types":["str","num","bool","json","bin","env"]}}},{"name":"LogToDebug","type":"bool","value":"true"},{"name":"LogToConsole","type":"bool","value":"true"}],"color":"#DDAA99"},{"id":"f8eade98.d4c83","type":"ui_base","theme":{"name":"theme-dark","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","reset":false},"themeState":{"base-color":{"default":"#097479","value":"#097479","edited":false},"page-titlebar-backgroundColor":{"value":"#097479","edited":false},"page-backgroundColor":{"value":"#111111","edited":false},"page-sidebar-backgroundColor":{"value":"#000000","edited":false},"group-textColor":{"value":"#0eb8c0","edited":false},"group-borderColor":{"value":"#555555","edited":false},"group-backgroundColor":{"value":"#333333","edited":false},"widget-textColor":{"value":"#eeeeee","edited":false},"widget-backgroundColor":{"value":"#097479","edited":false},"widget-borderColor":{"value":"#333333","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Dashboard","hideToolbar":"false","allowSwipe":"true","lockMenu":"true","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"1eaefd75.304423","type":"ui_tab","z":"","name":"Home","icon":"device_hub","order":2,"disabled":false,"hidden":false},{"id":"c9050ce9.3baf1","type":"ui_group","z":"","name":"Default","tab":"1eaefd75.304423","order":1,"disp":true,"width":9,"collapse":false},{"id":"ff4bc735.559d78","type":"ui_tab","z":"","name":"Status","icon":"dashboard","order":1,"disabled":false,"hidden":false},{"id":"a1521b71.7d2d2","type":"ui_group","z":"","name":"Bewegungsmelder Küche","tab":"ff4bc735.559d78","order":1,"disp":true,"width":"6","collapse":false},{"id":"1329504f.193148","type":"ui_link","z":"","name":"Link 3","link":"http://www.orf.at","icon":"open_in_browser","target":"newtab","order":3},{"id":"ad710dfa.62646","type":"ui_group","z":"","name":"Bewegungsmelder","tab":"1eaefd75.304423","order":2,"disp":true,"width":"6","collapse":false},{"id":"3de2bfe.885bdc","type":"mqtt-broker","z":"","name":"Mosquito","broker":"192.168.178.41","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":"","closeTopic":"","closeQos":"0","closeRetain":"false","closePayload":"","willTopic":"","willQos":"0","willRetain":"false","willPayload":""},{"id":"6e5cbd28.1b9ad4","type":"mqtt-broker","z":"","name":"Mosquitto","broker":"192.168.178.41","port":"1883","clientid":"nr-sh-tesla","usetls":false,"compatmode":true,"keepalive":"60","cleansession":false,"birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":"","closeTopic":"","closeQos":"0","closeRetain":"false","closePayload":"","willTopic":"","willQos":"0","willRetain":"false","willPayload":""},{"id":"50080bd6.4ef11c","type":"hue-bridge","z":"","name":"Unterhaching","bridge":"192.168.178.20","key":"LH-QtOj-eU2eEuoNfOP642Wmy9rkvkfSL2Of13Tr","interval":"3000","disableupdates":false},{"id":"f5796bd2.5a541","type":"ui_group","z":"2e1e972e.ae23c","name":"Second","tab":"db475cdc.1e872","order":2,"disp":true,"width":"5"},{"id":"b9d322fb.81d35","type":"ui_group","z":"2e1e972e.ae23c","name":"Click","tab":"db475cdc.1e872","order":1,"disp":true,"width":"5"},{"id":"db475cdc.1e872","type":"ui_tab","z":"2e1e972e.ae23c","name":"Home","icon":"link","order":1},{"id":"3bfe0f7a.c8f3c","type":"ui_group","z":"","name":"Bewegungsmelder Bad","tab":"ff4bc735.559d78","order":1,"disp":true,"width":"6","collapse":false},{"id":"dbc4cafb.b40088","type":"ui_group","z":"","name":"Bewegungsmelder Wohnzimmer","tab":"ff4bc735.559d78","order":2,"disp":true,"width":"6","collapse":false},{"id":"b0212a87.b8e9f","type":"ui_led","z":"885f38dd.64a8b","group":"dbc4cafb.b40088","order":1,"width":"4","height":"1","label":"<p style='color:blue'>Wohnzimmer</p>","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"red","value":"false","valueType":"bool"},{"color":"green","value":"true","valueType":"bool"}],"allowColorForValueInMessage":false,"name":"Wohnzimmer Status","x":900,"y":520,"wires":[]},{"id":"77bfc098.ffe258","type":"mqtt in","z":"885f38dd.64a8b","name":"","topic":"/dashboard/in/motion/kueche/status","qos":"2","datatype":"json","broker":"3de2bfe.885bdc","x":260,"y":100,"wires":[[]]},{"id":"622f8cc9.8761d4","type":"mqtt in","z":"885f38dd.64a8b","name":"","topic":"/dashboard/in/motion/bad/status","qos":"2","datatype":"json","broker":"3de2bfe.885bdc","x":270,"y":160,"wires":[[]]},{"id":"7b9fb2f4.3cd3cc","type":"mqtt in","z":"885f38dd.64a8b","name":"","topic":"/dashboard/in/motion/wohnzimmer/status","qos":"2","datatype":"json","broker":"3de2bfe.885bdc","x":240,"y":40,"wires":[[]]},{"id":"4cd64731.71cb68","type":"debug","z":"8544e604.9bf28","name":"Log Debug","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":670,"y":40,"wires":[]},{"id":"1a497a6c.f2aabe","type":"mqtt out","z":"8544e604.9bf28","name":"","topic":"/slack/smarthome/out","qos":"","retain":"","broker":"6e5cbd28.1b9ad4","x":700,"y":160,"wires":[]},{"id":"66316629.0a05b","type":"switch","z":"8544e604.9bf28","name":"Slack","property":"SentToSlack","propertyType":"env","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":250,"y":160,"wires":[["82d4a63f.43af08"]]},{"id":"2602623.67c029e","type":"catch","z":"8544e604.9bf28","name":"","scope":null,"uncaught":false,"x":80,"y":460,"wires":[["919938d0.81b93"]]},{"id":"919938d0.81b93","type":"debug","z":"8544e604.9bf28","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":450,"y":460,"wires":[]},{"id":"82d4a63f.43af08","type":"function","z":"8544e604.9bf28","name":"Error Message","func":"var sFlowname = msg.flowinfo.flowname;\nvar sMessage = msg.error.message;\nvar sNode = msg.error.source.name;\n\nmsg.payload = {\n    \"text\": \"Failure in flow *\" + sFlowname + \"* in node *\" + sNode + \"*. \\n`\" + sMessage + \"`\"\n}\nreturn msg;","outputs":1,"noerr":0,"x":440,"y":160,"wires":[["1a497a6c.f2aabe"]]},{"id":"590d362e.ea16a8","type":"switch","z":"8544e604.9bf28","name":"Debug","property":"LogToDebug","propertyType":"env","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":250,"y":40,"wires":[["4cd64731.71cb68"]]},{"id":"f2ef2fbe.6b32e8","type":"switch","z":"8544e604.9bf28","name":"Console","property":"LogToConsole","propertyType":"env","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":260,"y":100,"wires":[["34d6d726.3c681"]]},{"id":"34d6d726.3c681","type":"debug","z":"8544e604.9bf28","name":"Log Console","active":true,"tosidebar":false,"console":true,"tostatus":false,"complete":"true","targetType":"full","x":680,"y":100,"wires":[]},{"id":"6d7439b1.7b03b8","type":"subflow:8544e604.9bf28","z":"885f38dd.64a8b","name":"","env":[{"name":"SentToSlack","value":"true","type":"bool"}],"x":570,"y":720,"wires":[],"icon":"font-awesome/fa-exclamation"},{"id":"a22d20af.84c74","type":"catch","z":"885f38dd.64a8b","name":"","scope":null,"uncaught":false,"x":200,"y":720,"wires":[["1c5abf30.a814c1"]]},{"id":"1c5abf30.a814c1","type":"getflowid","z":"885f38dd.64a8b","name":"Get Flow ID","x":370,"y":720,"wires":[["6d7439b1.7b03b8"]]},{"id":"76e77520.9a57ec","type":"hue-motion","z":"885f38dd.64a8b","name":"Bad sensor","bridge":"50080bd6.4ef11c","sensorid":"15","skipevents":false,"x":310,"y":400,"wires":[["7e435f18.4de88","fa5e1e7a.cc8568","9a43c33c.f52618"]]},{"id":"8f9c0142.711d","type":"hue-motion","z":"885f38dd.64a8b","name":"Wohnzimmer Sensor","bridge":"50080bd6.4ef11c","sensorid":"38","skipevents":false,"x":280,"y":560,"wires":[["ecb4607d.bb899","93da8f67.3efc58","edd4b602.afad58"]]},{"id":"4515d799.b4a6a","type":"hue-motion","z":"885f38dd.64a8b","name":"Küchen Sensor","bridge":"50080bd6.4ef11c","sensorid":"66","skipevents":false,"x":300,"y":240,"wires":[["c4d8212f.0b779","3715ae36.9cacf2","deed8d71.5c6fa8"]]},{"id":"e3e74265.f1e928","type":"inject","z":"885f38dd.64a8b","name":"","topic":"","payload":"status","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":90,"y":400,"wires":[["76e77520.9a57ec","8f9c0142.711d","4515d799.b4a6a"]]},{"id":"ecb4607d.bb899","type":"function","z":"885f38dd.64a8b","name":"Wohnzimmer Status","func":"if (msg.payload.active === false) {\n    msg.payload = false;\n}\nelse {\n    msg.payload = true;\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":580,"y":520,"wires":[["b0212a87.b8e9f"]]},{"id":"2a05c659.ad94c2","type":"ui_text","z":"885f38dd.64a8b","group":"dbc4cafb.b40088","order":3,"width":"6","height":"1","name":"Wohnzimmer Last Motion","label":"<font size=-2>Last Motion:</font>","format":"<font size=-2>{{msg.payload | date:'HH:mm:ss'}}</font>","layout":"row-left","x":910,"y":600,"wires":[]},{"id":"5634d062.d96fd8","type":"ui_led","z":"885f38dd.64a8b","group":"dbc4cafb.b40088","order":2,"width":"1","height":"1","label":"","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"grey","value":"false","valueType":"bool"},{"color":"yellow","value":"true","valueType":"bool"}],"allowColorForValueInMessage":false,"name":"Wohnzimmer Motion","x":900,"y":560,"wires":[]},{"id":"93da8f67.3efc58","type":"change","z":"885f38dd.64a8b","name":"","rules":[{"t":"move","p":"payload.updated","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":600,"y":600,"wires":[["2a05c659.ad94c2"]]},{"id":"edd4b602.afad58","type":"change","z":"885f38dd.64a8b","name":"","rules":[{"t":"move","p":"payload.motion","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":600,"y":560,"wires":[["5634d062.d96fd8"]]},{"id":"9e0b2608.b75b4","type":"inject","z":"2e1e972e.ae23c","name":"warn","topic":"press","payload":"<i class=\"fa fa-warning fa-2x nr-dashboard-warning\"></i>","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":"","x":290,"y":200,"wires":[["9af2278a.3e7a28"]]},{"id":"8fbc2389.536b28","type":"inject","z":"2e1e972e.ae23c","name":"error","topic":"press","payload":"<i class=\"fa fa-exclamation-circle fa-2x nr-dashboard-error\"></i>","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":"","x":290,"y":240,"wires":[["9af2278a.3e7a28"]]},{"id":"edf600e3.712c7","type":"inject","z":"2e1e972e.ae23c","name":"ok","topic":"press","payload":"<i class=\"fa fa-lightbulb-o fa-2x nr-dashboard-ok\"></i>","payloadType":"str","repeat":"","crontab":"","once":true,"onceDelay":"","x":290,"y":160,"wires":[["9af2278a.3e7a28"]]},{"id":"9af2278a.3e7a28","type":"ui_text","z":"2e1e972e.ae23c","group":"f5796bd2.5a541","order":4,"width":"1","height":"1","name":"indicator","label":"","format":"{{msg.payload}}","layout":"row-center","x":440,"y":200,"wires":[]},{"id":"33eb4864.fa5968","type":"ui_switch","z":"2e1e972e.ae23c","name":"","label":"switch","group":"b9d322fb.81d35","order":5,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":290,"y":320,"wires":[["8ede6668.8d2c6"]]},{"id":"5e8f07a7.22607","type":"ui_switch","z":"2e1e972e.ae23c","name":"","label":"switch","group":"b9d322fb.81d35","order":4,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":290,"y":356,"wires":[["31a17f59.f5c538"]]},{"id":"8ede6668.8d2c6","type":"ui_text","z":"2e1e972e.ae23c","group":"b9d322fb.81d35","order":3,"width":"1","height":"1","name":"on/off","label":"<font size=6><i class=\"fa fa-lightbulb-o fa-2x\"></i></font><br/><font size=\"-2\">World</font>","format":"<font color={{(msg.payload?\"yellow\":\"grey\")}}><i class=\"fa fa-lightbulb-o fa-2x\"></i></font><br/><font size=\"-2\">World</font>","layout":"row-center","x":460,"y":320,"wires":[]},{"id":"31a17f59.f5c538","type":"ui_text","z":"2e1e972e.ae23c","group":"b9d322fb.81d35","order":2,"width":"1","height":"1","name":"on/off","label":"","format":"<font color={{(msg.payload?\"red\":\"grey\")}}><i class=\"fa fa-lightbulb-o fa-2x\"></i></font><br/><font size=\"-2\">Hello</font>","layout":"row-center","x":460,"y":356,"wires":[]},{"id":"fd5d2373.2021a","type":"ui_led","z":"885f38dd.64a8b","group":"3bfe0f7a.c8f3c","order":1,"width":"4","height":"1","label":"<p style='color:blue'>Badzimmer</p>","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"red","value":"false","valueType":"bool"},{"color":"green","value":"true","valueType":"bool"}],"allowColorForValueInMessage":false,"name":"Bad Status","x":870,"y":360,"wires":[]},{"id":"7e435f18.4de88","type":"function","z":"885f38dd.64a8b","name":"Bad Status","func":"if (msg.payload.active === false) {\n    msg.payload = false;\n}\nelse {\n    msg.payload = true;\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":550,"y":360,"wires":[["fd5d2373.2021a"]]},{"id":"2761f12f.281a4e","type":"ui_text","z":"885f38dd.64a8b","group":"3bfe0f7a.c8f3c","order":3,"width":"6","height":"1","name":"Bad Last Motion","label":"<font size=-2>Last Motion:</font>","format":"<font size=-2>{{msg.payload | date:'HH:mm:ss'}}</font>","layout":"row-left","x":880,"y":440,"wires":[]},{"id":"1bb52ef9.c39331","type":"ui_led","z":"885f38dd.64a8b","group":"3bfe0f7a.c8f3c","order":2,"width":"1","height":"1","label":"","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"grey","value":"false","valueType":"bool"},{"color":"yellow","value":"true","valueType":"bool"}],"allowColorForValueInMessage":false,"name":"Bad Motion","x":870,"y":400,"wires":[]},{"id":"9a43c33c.f52618","type":"change","z":"885f38dd.64a8b","name":"","rules":[{"t":"move","p":"payload.updated","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":600,"y":440,"wires":[["2761f12f.281a4e"]]},{"id":"fa5e1e7a.cc8568","type":"change","z":"885f38dd.64a8b","name":"","rules":[{"t":"move","p":"payload.motion","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":600,"y":400,"wires":[["1bb52ef9.c39331"]]},{"id":"4318c47e.e403f4","type":"ui_led","z":"885f38dd.64a8b","group":"a1521b71.7d2d2","order":1,"width":"4","height":"1","label":"<p style='color:blue'>Küche</p>","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"red","value":"false","valueType":"bool"},{"color":"green","value":"true","valueType":"bool"}],"allowColorForValueInMessage":false,"name":"Küchen Status","x":880,"y":200,"wires":[]},{"id":"c4d8212f.0b779","type":"function","z":"885f38dd.64a8b","name":"Küche Status","func":"if (msg.payload.active === false) {\n    msg.payload = false;\n}\nelse {\n    msg.payload = true;\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":560,"y":200,"wires":[["4318c47e.e403f4"]]},{"id":"c131a300.72d97","type":"ui_text","z":"885f38dd.64a8b","group":"a1521b71.7d2d2","order":3,"width":"6","height":"1","name":"Küche Last Motion","label":"<font size=-2>Last Motion:</font>","format":"<font size=-2>{{msg.payload | date:'HH:mm:ss'}}</font>","layout":"row-left","x":890,"y":280,"wires":[]},{"id":"65d68598.4526e4","type":"ui_led","z":"885f38dd.64a8b","group":"a1521b71.7d2d2","order":2,"width":"1","height":"1","label":"","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"grey","value":"false","valueType":"bool"},{"color":"yellow","value":"true","valueType":"bool"}],"allowColorForValueInMessage":false,"name":"Küchen Motion","x":880,"y":240,"wires":[]},{"id":"deed8d71.5c6fa8","type":"change","z":"885f38dd.64a8b","name":"","rules":[{"t":"move","p":"payload.updated","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":600,"y":280,"wires":[["c131a300.72d97"]]},{"id":"3715ae36.9cacf2","type":"change","z":"885f38dd.64a8b","name":"","rules":[{"t":"move","p":"payload.motion","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":600,"y":240,"wires":[["65d68598.4526e4"]]},{"id":"b697390.db82dc8","type":"hue-brightness","z":"885f38dd.64a8b","name":"Hue ambient light sensor 1","bridge":"50080bd6.4ef11c","sensorid":"16","skipevents":false,"x":210,"y":660,"wires":[["9d5d158a.0d4278"]]},{"id":"9d5d158a.0d4278","type":"debug","z":"885f38dd.64a8b","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":430,"y":660,"wires":[]},{"id":"1f9b0c3e.e8c944","type":"hue-brightness","z":"885f38dd.64a8b","name":"Hue ambient light sensor 3","bridge":"50080bd6.4ef11c","sensorid":"39","skipevents":false,"x":190,"y":780,"wires":[["9d5d158a.0d4278"]]},{"id":"46b249a7.830268","type":"hue-brightness","z":"885f38dd.64a8b","name":"Hue ambient light sensor 4","bridge":"50080bd6.4ef11c","sensorid":"67","skipevents":false,"x":190,"y":840,"wires":[["9d5d158a.0d4278"]]}]